[2015-03-15 22:41] crunchywelch opened #1 "add ability to pass options"
need this for paging, asking for full collections instead of IDs, etc

[2016-02-21 00:14] mischief opened #4 "packet metadata client"
not sure if this is the right place, but it would be nice if this repo (or some other repo) had a nice wrapper around https://metadata.packet.net/ .

[2016-02-22 17:27] betawaffle commented on #4
So, someone has already written #3, and I just wrote this in about 10 minutes: https://gist.github.com/betawaffle/8ac55dfef79f45c666b7. I'd like to hear what you'd like it to look like.

[2016-06-20 20:48] nathangoulding opened #7 "add project IPs list method"

[2016-06-20 21:26] #7 closed

[2016-10-30 04:29] TamalSaha opened #15 "Where do I find consumerToken?"
Where do I find `consumerToken` to create a new client?

[2016-10-30 04:36] jacobsmith928 commented on #15
@TamalSaha we can provide you one, I'll followup tomorrow once I confirm the best way.  Thanks!

[2016-10-30 15:02] jacobsmith928 commented on #15
@TamalSaha can you connect with @crunchywelch (Aaron Welch) directly to coordinate?

[2016-11-08 18:44] TamalSaha commented on #15
Looks like I don't need consumerToken when calling api.

[2016-11-08 18:44] #15 closed

[2016-11-26 03:47] ebsarr commented on #1
Any timeline for this?

[2017-05-22 19:02] jordanrinke opened #19 "Availability not returned, and plans with no availability returned."
As of last week getting plans now returned two objects for a single plan name, one of which has no availability. Also there is no availability exposed via the client.

In our case we were able to work through this by setting line to match baremetal, and ignoring the reserved instance item with no availability but it would make sense to either not include options with no availability or to include

[2017-05-23 14:44] nathangoulding commented on #19
Thanks @jordanrinke, this will get fixed in our next API deploy.

[2017-06-17 21:08] vielmetti opened #22 "persistent iPXE / always_pxe"
Add support for persistent iPXE as documented in https://help.packet.net/technical/infrastructure/custom-ipxe as follows:

For https://github.com/linuxkit/linuxkit/issues/2065 to support linuxkit which should be an always-pxe system.

[2017-06-17 21:12] vielmetti commented on #22
If I read it right, the change will be at https://github.com/packethost/packngo/blob/master/devices.go#L49 (type DeviceCreateRequest)

[2017-08-03 13:46] pgporada commented on #22
@bzub made a fork to implement this, could those changes be reviewed and merged into here? https://github.com/terraform-providers/terraform-provider-packet/issues/3

[2017-08-09 14:46] #22 closed

[2017-08-14 21:24] vielmetti opened #27 "Provisioning reserved instances"
There's documentation for how to provision a reserved instance on the Packet API here:

https://help.packet.net/technical/infrastructure/reserved-hardware

However, the `hardware_reservation_id` option is not evident anywhere in the `packngo` codebase.

This is necessary for Terraform to properly handle this option, see https://github.com/terraform-providers/terraform-provider-packet/issues/8 for

[2017-08-17 18:39] justincormack commented on #4
I am currently writing one for LinuxKit (https://github.com/linuxkit/linuxkit) should be ready soon, feel free to use that. It will set up the network bonding as specified in the metadata.

[2017-08-24 17:00] bzub opened #33 "Support spot market device creation"
Need to add the following to device creation request:
- `spot_instance` (bool)
- `spot_price_max` (float)
- `termination_time` (string)

Example from the [help docs](https://help.packet.net/technical/deployment-options/spot-market):
[code]

[2017-08-29 20:00] #33 closed

[2017-08-30 23:36] bzub opened #38 "Duplicate json key "email" in User struct"
https://github.com/packethost/packngo/blob/ee1a0a9259479843d9d704183efb0801505f2c32/user.go#L16

https://github.com/packethost/packngo/blob/ee1a0a9259479843d9d704183efb0801505f2c32/user.go#L25

[2017-09-01 11:50] #38 closed

[2017-09-10 21:26] harshavardhana opened #41 "How would you do batch deployments using this library?"
https://help.packet.net/technical/deployment-options/batch-deployment

[2017-09-10 23:09] bzub commented on #41
That API endpoint hasn't been added to packngo yet. We'll use this issue to track that feature.

Right now you could mimic batches by making a loop that creates [DeviceCreateRequest](https://godoc.org/github.com/packethost/packngo#DeviceCreateRequest)s and creates the devices with [DeviceServiceOp](https://godoc.org/github.com/packethost/packngo#DeviceServiceOp.Create).

Or at a lower level, make

[2017-09-11 10:50] t0mk commented on #41
I would just spawn n goroutines, each calling Devices.Create().

[2017-09-11 19:20] harshavardhana commented on #41
https://gist.github.com/harshavardhana/a9654103334651682a5e12638181b1a0 - here is how you can do batch deploy.  Much simpler than doing go-routines.

[2017-09-12 13:08] t0mk commented on #41
Your gist would be a way to do it with shellscript or Python, but IMO when you are using Go, you might as well take advantage of it's features: Goroutines and channels.

[code]

[2017-09-15 13:31] t0mk commented on #27
hw reservation field was added in https://github.com/packethost/packngo/pull/34

[2017-09-15 13:31] #27 closed

[2017-10-02 02:51] bzub opened #46 "Prepare for "ips" endpoint API change"
From slack: https://packetcommunity.slack.com/archives/C4FEV702E/p1506705574000206

old:
[code]
new (example):
[code]

[2017-10-02 03:00] bzub commented on #46
After a quick look around, we need to at least modify anything that populates an [`AddressStruct`](https://github.com/packethost/packngo/blob/ccc0cfc6d4e3b22fccfcd17c449d28813a4d6609/ip.go#L80). Need someone to look around at the code for a second opinion in case there's anything else that uses this endpoint.

When this change is made, the code as-is will populate `AddressStruct` with only the IP

[2017-10-02 07:25] t0mk commented on #46
Hi, That's a good point. I have an idea of whats going t happen. I will prepare a PR capturing this and merge it when the API changes,

IIUC The API change is a simplification - The creating POST to /project/ips will now return directly the IP reservation resource, just like it's with devices or volumes.

[2017-10-02 17:51] bzub opened #48 "Explore support for Packet's local and global BGP feature"
It's on the Packet.net public roadmap as a feature request. I'd like to use it also.
https://trello.com/c/TNuos7rW

xRef terraform-provider-packet issue: https://github.com/terraform-providers/terraform-provider-packet/issues/31

[2017-10-09 15:49] #46 closed

[2017-11-07 14:45] alexellis opened #51 "Suspect spot instance bool flag is incorrect some of the time"
I wrote a piece of code to schedule and maintain 10 spot instances, the issue is that it thinks I have 9 when I have around 15.

Code snippet:

[code]

The Packet API needs a per_page figure returning, or you have to loop and pull all the pages. I suggest patching to fetch with a per_page size of `1000` (the max) to resolve the bug.

[2017-11-07 14:54] alexellis commented on #51
If I set "per_page" to 10000, then I get the correct behaviour:

[code]

[2017-11-07 15:30] mmlb commented on #51
I think better options would be a new function that either takes a boolean `fetchALL` or a `count int` where count == -1 is all, 0 is default, and n>0 is how many to fetch. We can then loop with a more palatable value, say `25` or `100`.

[2017-11-07 17:54] mmlb commented on #51
Yeah pagination in packngo (other clients too iirc) is not great. I don't really like the iterator pattern here, I would think a user will either want default # (don't care too much about how many), all of them, or someN (I really doubt this is useful). I doubt the someN because the resulting responses may not be sorted in a manner that makes sense if at all.

There isn't really any reason why we

[2017-11-20 19:47] deitch opened #55 "Missing ability to get ssh keys for a project"
There is no direct way to get the ssh keys for a project. The packet API supports it via `GET /projects/{id}/ssh-keys` (see [here](https://www.packet.net/developers/api/sshkeys/) ).

* Using `GET /ssh-keys` or the equivalent `Client.SSHKeys.List()` only returns the root keys (not those affiliated with a project).
* Using `Client.Projects.Get(project)` (or `List()` returns only the URLs for the key

[2017-11-21 14:46] #55 closed

[2018-01-26 14:50] t0mk opened #60 "support for Organizations and Payment Methods"
It should be possible to read (and maybe write) organizations and payment methods.

https://www.packet.net/developers/api/organizations/

https://www.packet.net/developers/api/paymentmethods/

This is drone work, and maybe the effort would be better spent to produce golang code from Swagger api-docs.

[2018-02-26 15:30] t0mk commented on #60
done by #61

[2018-02-26 15:30] #60 closed

[2018-03-05 19:25] t0mk opened #62 "Import-ability for existing resources"

[2018-03-05 19:27] #62 closed

[2018-03-06 12:55] #41 closed

[2018-03-06 13:13] t0mk opened #63 "Pagination"
At the moment, packngo doesn't allow to specify page size and number for listing methods.

It was briefly discussed in #51

@mmlb let's get this done. I am ready to put it together.

Do you still insist on fetchAll/count? I was thinking to just copy the mechanism from godo:
List options like this:
https://github.com/digitalocean/godo/blob/master/godo.go#L75
(as a matter of fact, the struct is in p

[2018-03-06 15:19] mmlb commented on #63
oh actually I had some work to get this done, but its ugly and not a way I want to go in. I filed an api issue to support pagination info via Link headers ala github api.  I will ping @nathangoulding on it since he was out while I filed. There done :D.

[2018-03-06 15:21] mmlb commented on #63
ListOptions is fine, by I agree with @alexellis and think we should return all the resources by default.

[2018-03-07 12:46] t0mk commented on #63
I'm fine with returning all by default.

In the API, there is the "meta" map in the list responses, maybe we could you that instead of Link header. It looks like:

{'self': {'href': '/projects?page=1'}, 'first': {'href': '/projects?page=1'}, 'total': 4, 'current_page': 1, 'last_page': 1, 'last': {'href': '/projects?page=1'}, 'previous': None, 'next': None}

We could do sth like

[code]

And then m

[2018-03-12 01:42] mmlb commented on #63
Yeah, but then all the structs need to be changed to add that, and honestly I'd rather do it transparently. But I'm not sure how quickly we can get the Link headers going, there's higher priority stuff in progress. My one bit of feedback so far is to make the Meta struct private.

[2018-03-30 07:29] t0mk commented on #63
partially done in #64

Paginated resources:

- [x] Devices
- [x] Volumes
- [ ] Events
- [ ] Facilities
- [ ] Hardware Reservations
- [ ] Memberships
- [ ] Notifications
- [ ] Organizations
- [ ] Plans
- [ ] Projects
- [ ] Transfers
- [ ] Users

[2018-04-12 16:46] bzub opened #65 "device: Hostname should not be required in a DeviceUpdateRequest"
The API gives an error if you try to apply a `DeviceUpdateRequest` without a `Hostname` field.

Error Response:
`422 Hostname can't be blank`

Example:
[code]

~~I haven't verified if packngo is actually sending a blank string for the Hostname field but that's my guess as to what's going on.~~

Edit: I've verified `Hostname` is not a required field when updating directly via the API. So it's a pac

[2018-04-12 17:30] bzub opened #66 "device: Unable to update always_pxe"
I'm able to change a device's `always_pxe` option from the API, but using a packngo `DeviceUpdateRequest` does not seem to actually update this option. No error is reported, though.

Example:
[code]

Originally reported in https://github.com/terraform-providers/terraform-provider-packet/issues/56

[2018-04-12 17:37] bzub commented on #66
The omitempty struct js tag appears to be the culprit.
https://github.com/packethost/packngo/blob/6ea14430375202163def8947e879dd2dd94d5757/devices.go#L103

When the `DeviceUpdateRequest` struct has `AlwaysPXE: false` it omits the field from the JSON request.

[2018-04-13 09:54] #65 closed

[2018-04-13 09:54] #66 closed

[2018-05-12 21:35] insuusvenerati opened #76 "Error when installing a docker-machine driver"
I'm linking this here because I'm not familiar enough with Go-lang to know whether it's an issue with Packngo or the driver but I've been unable to install and use it due to this error.

[code]

https://github.com/packethost/docker-machine-driver-packet/issues/25

Issue occurs on both 1.10.2 and 1.9.6 versions of Go

[2018-05-27 15:15] ebsarr opened #77 "Why pointers where strings are just okay ?"
I just wonder why the `DeviceUpdateRequest` struct signature was changed with all attributes as pointers?
[code]

If this change was unnecessary I suggest to restore the struct to its previous form and keep the code consistent across the SDK :
[code]

[2018-05-28 07:46] #76 closed

[2018-05-28 07:48] t0mk commented on #77
if you pass "" to json string field with omitempty, Go json serializer will not emit the field. However, it will not be possible to "erase" such string field with Update HTTP request - if a user decides to issue an update API call setting the CustomData to "", the Go serialzer will not emit the field in the JSON dict (because empty string is the omitting value). If you make it pointers, then the o

[2018-05-28 11:34] ebsarr commented on #77
Okay I get it. That is way only `UpdateRequest` was changed. Thanks .

[2018-05-28 11:34] #77 closed

[2018-06-03 04:31] ebsarr opened #78 "Potential bug in `ListOptions` implementation"
Based on the [API docs](https://www.packet.net/developers/api/common-parameters/), parameter should be `include` not `includes` :

This code:
[code]
should be
[code]

[2018-06-03 11:28] ebsarr commented on #78
Yes that is why in the code the parameter should be `include` not `includes` . I actually tried myself and found the same results as you did: The API doc is correct while the following code has a typo:
[code]

[2018-06-04 13:02] t0mk commented on #78
oh yeah, sorry for consfusion, you're right

[2018-06-04 13:02] #78 closed

[2018-06-13 20:35] mmlb opened #81 "Tag a release"
Things have quieted down a bit, we should probably tag a micro release and do so more regularly. Thoughts @t0mk ?

[2018-06-15 10:44] t0mk commented on #81
I've nothing against that, go ahead.

Just for the StackPointcloud people (@edevenport @jasmingacic) IMO it's better idea to refer to Git commit SHA, that to a version number. Like in
https://github.com/terraform-providers/terraform-provider-packet/blob/master/vendor/vendor.json#L765

.. I don't recommend govendor in particular, but just anything that allows to specify commit SHA. It makes the dep

[2018-06-15 19:55] edevenport commented on #81
@t0mk We have been moving to `golang/dep` across our projects, but Terraform still uses `govendor` which we utilize to maintain consistent tooling with the project.

[2018-06-28 03:02] vielmetti opened #83 "Write release notes"
#81 will tag a release; we'll need release notes, and a version number.

[2018-07-02 14:15] ntfrnzn opened #84 "incorrect json tag for metadata volume"
see https://github.com/StackPointCloud/packngo/tree/fix-metadata-json
attn @jasmingacic

[2018-07-04 08:53] t0mk commented on #81
@edevenport do you still need the numeric tag, or you think that you can use commit hash from the master branch?

[2018-07-04 08:56] jasmingacic commented on #81
@t0mk No need for that we locked dependencies to master branch.

p.s. We are using `dep`

[code]

[2018-07-05 14:50] vielmetti opened #86 "Support for Packet "any" facility, "facility_diversity_level" parameter."
There's a new feature for batch deployment that lets you specify that you'll accept servers located in any facility or a prioritized list of facilities. The current public-facing docs are at

https://help.packet.net/technical/deployment-options/batch-deployment

The previous issue tracking batch deployments is #41.

We're looking to test this feature against the needs of larger deployments for tes

[2018-07-05 15:09] t0mk commented on #86
does this work for single devices too?

[2018-07-05 15:10] vielmetti commented on #84
attn @mmlb

[2018-07-05 15:12] vielmetti commented on #86
It should work for single devices when you set "quantity = 1" in a batch.

[2018-07-05 15:23] nathangoulding commented on #86
Let's wait for ENG-2151 to be completed before we do this. Thanks guys.

[2018-07-09 13:34] jasmingacic opened #88 "Instance batches"
I've noticed that when POSTing to devices/batch it returns list of batches where in the [API docs](https://www.packet.net/developers/api/instancesbatch/)

[code]

According to [this](https://www.packet.net/developers/api/instancesbatch/)  the response should be this:

[code]

[2018-07-10 08:22] t0mk commented on #88
@jasmingacic do you have access to Packet JIRA? This issue should be reported there. I think we can't do so much about this in packngo.

[2018-07-10 12:21] jasmingacic commented on #88
@t0mk No I don't have access to Packet JIRA. @vielmetti told me to open an issue so I did.

[2018-07-11 02:16] nathangoulding commented on #86
This is good to go!

[2018-07-13 03:38] vielmetti commented on #88
@t0mk @jasmingacic an issue is open in Packet JIRA, I'll report back what I learn.

[2018-07-16 19:34] patrickdevivo opened #93 "[feature request] Add/Remove/Update device tag functionality"
Right now, as far as I understand, in order to add/remove/update a device tag, a user has to make a call to the Packet API with all the tags that should be set on that device.

For instance, in order to add a tag, I need to first get an array of all the existing tags, `append` to it, then make an update call with the whole set of new tags. Similar process for removing and updating.

Even though th

[2018-07-16 20:44] jacobsmith928 commented on #48
@jasmingacic does your PR negate this issue?
https://github.com/packethost/packngo/pull/90

[2018-07-16 20:46] jasmingacic commented on #48
@jacobsmith928 yes it does.

[2018-07-16 20:56] jacobsmith928 commented on #93
@jasmingacic in case you want to review?

[2018-07-16 20:58] jacobsmith928 commented on #86
@jasmingacic this has also been implemented in our API recently.

[2018-07-16 21:05] jasmingacic commented on #93
@patrickdevivo Maybe we add a function Add/Remove tag.

As a suggestion, maybe it would be practical to implement PATCH in the API.

[2018-07-16 21:07] patrickdevivo commented on #93
@jasmingacic makes sense, I'd imagine it'd be best to add this functionality to the API and then mirror it in this library

[2018-07-16 21:09] jasmingacic commented on #93
@patrickdevivo as an interim solution we can add an abstraction you suggested and once the feature is released in the API we adjust it accordingly.

[2018-07-16 21:11] jacobsmith928 commented on #93
@mberrueta can you consider the API adjustment and discuss internally?

[2018-07-16 22:51] jasmingacic opened #94 "Query devices by tags"
I've been asked this question https://github.com/hashicorp/go-discover/pull/52 about tags.
If it was possible to query the API for devices with certain tags. I can't find anything in the API doc
cc// @jacobsmith928 @mberrueta

[2018-07-17 11:13] mberrueta commented on #94
created the request in the ticketing tool (ENG-2300).
I will inform you as soon as it's done

[2018-07-17 11:55] mberrueta commented on #93
Issue created in the track system `ENG-2300` and added to work on that next sprint.
I will keep informed

[2018-07-17 12:45] jasmingacic commented on #94
@mberrueta it does not seem to be working

[code]

It returns list of 8 devices where it should be returning only 2 (see the screenshot)

![image](https://user-images.githubusercontent.com/8327751/42818003-0525ac12-89d0-11e8-9537-b687eda91587.png)

[2018-07-17 12:53] mberrueta commented on #19
Hello @jordanrinke , it seems to be solved a while ago.
please reopen if you still having any issue.

thanks in advance!

[2018-07-17 12:53] #19 closed

[2018-07-17 14:09] mberrueta commented on #94
sorry my bad, is without the `with_`

`curl '../api/devices?tag=test01'`
or
`curl '../api/devices?tags=test01,test02'`

[2018-07-17 14:31] jasmingacic commented on #94
But not with two tags:
[code]
It should have returned 4

[2018-07-17 14:37] mberrueta commented on #94
it's an `or` and probably you need an `and`

[2018-07-17 14:58] mberrueta commented on #63
should have
`Devices,Volumes,Events,   Hardware Reservations,Organizations,Projects,Users`

without
`Memberships,Notifications,Plans,Transfers,Facilities`

reporting a request

[2018-07-17 20:54] jasmingacic commented on #94
I played with `|` and `&` but it didn't seem to work as expected.

[code]
Expected result is 4 devices I also tried using `tags` instead of `tag` and the API returned all devices (count 8)

[2018-07-18 07:20] t0mk opened #96 "Capacity API is inconsitent"
I tested the POST to `/capacity` (www.packet.net/developers/api/capacity/) and found out that modest check returns `204 No Content` (and empty body) - the case when the capacity is available. And too-large check returns something like:
[code]
IMO the 503 is not good return code, it should be some 2xx with content - the response JSON should be the same for available/unavailable response. For availa

[2018-07-18 07:21] t0mk commented on #96
@nathangoulding do you think the Capacity API should be fixed? should I ask someone else from Packet about this?

[2018-07-18 10:42] mberrueta commented on #96
Adding a ticket to review/fix in the API. I will go back soon

[2018-07-18 11:02] mberrueta commented on #88
updated
https://www.packet.net/developers/api/batches/

[code]

[2018-07-18 11:02] #88 closed

[2018-07-18 11:17] mberrueta commented on #51
hey @alexellis , sorry but I'm not sure if there is an API issue here?

can you put the request & response that you are requesting?
Thanks in advance

[2018-07-18 11:52] mberrueta commented on #1
Created in Jira for validation.
I will go back soon

[2018-07-18 11:56] mberrueta commented on #48
Created ticket in Jira for validation

[2018-08-01 09:41] t0mk opened #102 "Get for a single hardware-reservations doesn't work in the Packet API"
TLDR: it's not possible to GET a single hw reservation API resource in the Packet API

A GET to `/hardware-reservations/{id}` always results in 404 Not found. You can try it in the Packet docs after you set the auth token and insert UUID of valid hw reservation in https://www.packet.net/developers/api/hardwarereservations/

I tried with a hw reservation of t1.small.x86 in sjc1 which I got one year

[2018-08-06 13:16] t0mk commented on #102
@mberrueta do you have any feedback on this from Packet internal point of view?

[2018-08-06 18:52] mberrueta commented on #102
hello  t0mk, it should work unless you haven't access to the organization / project. if you want ping me on slack email `matias@packet.net` and pass me the id, I can check what happens

[2018-08-06 19:24] jasmingacic commented on #102
I have similar issue. When listing all hardware reservations it returns
everything but fetching a single one by UUID returns 404.

On Mon, Aug 6, 2018, 20:52 matias <notifications@github.com> wrote:

[2018-08-06 19:29] mberrueta commented on #102
hey @jasmingacic can you share with me the project and id through slack, to check?

[2018-08-06 19:42] jasmingacic commented on #102
Here are all the information I've got
https://github.com/packethost/packngo/pull/98

On Mon, Aug 6, 2018, 21:29 matias <notifications@github.com> wrote:

[2018-08-09 17:03] mberrueta commented on #102
solved

[2018-08-09 17:03] #102 closed

[2018-08-14 22:38] jasmingacic opened #103 "Events JSON"
I noticed that some messages in some events are not formatted well.
It is really a minor thing. But information like the one below is not very useful

[code]

[2018-08-16 18:50] patrickdevivo opened #104 "Removal of IPAddress struct"
I'm just wondering about the `IPAddress` struct, which seemed to exist in a prior version but has been replaced with I think `IPAddressAssignment`. Just wondering what the thinking around that is, as I have some code that's unmarshalling a device json into a device struct, and I would like to have information about the addresses on the device (is it management, public, etc)

[2018-08-16 19:14] #104 closed

[2018-09-03 18:30] mberrueta commented on #86
@jasmingacic this is ready for close, right?

[2018-09-03 18:57] jasmingacic commented on #86
There is an PR #85 for this but DELETE was missing. So we never merged it.

[2018-09-04 15:59] patrickdevivo commented on #4
I'm going to close this issue, as the metadata subpackage was merged in a while ago

[2018-09-04 15:59] #4 closed

[2018-09-04 19:43] patrickdevivo commented on #96
Checking in on this - we have a fix internally that's almost ready to go out. I think all the points @t0mk make are fair and we should just send a `2xx` response

[2018-09-07 20:05] lindavs commented on #1
@ebsarr can you indicate if this issue should be kept open? If so we are not sure what is needed, so would be great if you could clarify in that case. Otherwise we will close.

[2018-09-10 05:38] ebsarr commented on #1
@lindavs I think you can close this issue as the feature I was looking for is being developed here #63

[2018-09-11 01:46] #1 closed

[2018-09-17 14:48] patrickdevivo commented on #94
Hi @mberrueta, do we know if this has been resolved?

[2018-09-17 15:02] patrickdevivo commented on #86
FYI: https://github.com/packethost/packngo/pull/85#issuecomment-422051982 in regard to the `DELETE` on batches missing

[2018-09-17 15:13] patrickdevivo commented on #84
Hi @ntfrnzn - just wanted to check in and see if this issue is still relevant, I can't quite tell what the relevant diff is in the branch you've linked to

[2018-09-17 15:55] ntfrnzn commented on #84
resolved at https://github.com/packethost/packngo/pull/97

[2018-09-17 15:55] #84 closed

[2018-09-17 15:57] patrickdevivo commented on #81
Following up here, I think we should take all current outstanding issues/PRs and slot them for a `v0.2.0` release, which we can schedule for end of this month/beginning of october (I believe a reasonable time frame).

After that, we can actually track releases and schedule subsequent issues, that way we can have some more process in this library.

Anyone using `dep` can just references a specific

[2018-09-17 17:07] patrickdevivo commented on #83
Going to close this out, as the plan is now to bundle the current outstanding issues into a `v0.2.0` release, and after that do a better job of assigning issues/PRs to versions

[2018-09-17 17:07] #83 closed

[2018-09-17 17:17] mberrueta commented on #94
hi @patrickdevivo not yet, it still on the backlog

[2018-09-17 17:19] patrickdevivo commented on #51
I'm going to close this issue out for now - it sounds like it's cause is a pagination issue, which is a broader discussion about how the API works (not sure of pagination status), and which we have this issue tracking: https://github.com/packethost/packngo/issues/63

[2018-09-17 17:19] #51 closed

[2018-09-17 17:37] patrickdevivo commented on #103
@jasmingacic - this looks like a bug with our API returning an unrendered template string. There's a ticket in our internal jira, but I assume this isn't blocking/breaking anything in `packngo` correct? Thanks for bringing it up, I marked this as `waiting` so we can track it publicly here. I'll close this out when we've fixed it on our end (I don't think a fix needs to occur in this repo right?)

[2018-09-17 18:11] patrickdevivo commented on #93
@jasmingacic maybe we can add this as a client-side only feature like you suggested, and then switch out the implementation when the API gains that logic.

it would be a nice improvement to have I think, but it's not blocking anything at the moment

[2018-09-17 19:17] #103 closed

[2018-09-17 19:17] jasmingacic commented on #103
Agreed

[2018-09-17 19:18] patrickdevivo commented on #93
@jasmingacic makes sense to me, I don't believe this is pressing anyways. I'll revisit this once we have the feature in the API then.

Also, I've started this Github Project: https://github.com/orgs/packethost/projects/2 to begin tracking requests and bugs related directly to our API

[2018-09-24 11:38] jasmingacic commented on #96
I just ran test and it is still returning error 503.

[2018-09-24 11:40] jasmingacic commented on #48
Are there any updates here. This feature is already requested fro terraform plugin https://github.com/terraform-providers/terraform-provider-packet/issues/31

[2018-09-25 19:28] mberrueta commented on #94
@jasmingacic can you test now
`GET /projects/id/devices?tags[]=test01&tags[]=test02`

this should get only with both tags

[2018-09-26 12:28] edevenport commented on #94
@mberrueta Is there a reason or requirement for the brackets in the query parameter key name? I'm not aware of any obvious problems with the approach (other than possibly having to encode the characters), but it does feel a little atypical and unnecessary with URI query parameters.

[2018-09-26 14:28] mberrueta commented on #94
not sure why it allow with `[]` but you can call
`GET /projects/id/devices?tags[]=test01&tags[]=test02`
or without
`GET /projects/id/devices?tag=test01&tag=test02`

[2018-09-26 14:48] mberrueta commented on #96
@jasmingacic can you check again?
now it has the code 200 and  for instance

[code]

[2018-09-26 19:47] patrickdevivo commented on #96
From my manual testing, I believe this issue is resolved, so I am going to close it out for now

[2018-09-26 19:47] #96 closed

[2018-09-26 19:59] jasmingacic commented on #96
@mberrueta @patrickdevivo Confirmed it has been fixed. I've updated the PR #91

[2018-09-27 14:42] jasmingacic commented on #86
@patrickdevivo submit a PR then we can take it from there. It is easier.

[2018-09-27 15:39] patrickdevivo commented on #86
Started this: https://github.com/packethost/packngo/pull/108, still WIP

[2018-09-29 00:40] jacobsmith928 commented on #48
@patrickdevivo can you help to check on this?

[2018-09-29 14:00] patrickdevivo commented on #48
I believe there are only some minor changes on the PR (#90) so we should be able to roll this in soon

[2018-09-30 19:11] patrickdevivo commented on #94
@jasmingacic @t0mk any thoughts on how this should be implemented?

We could potentially add a `QueryParams` field to the `ListOptions` struct, which is a list of query params that get passed through, to support this in a generic way.

An only "issue" with that is we have a generic way of passing query params, but only for `.List(...)`

[2018-10-01 09:30] jasmingacic commented on #94
I'd go with ListOptions for all functions like Get and List, and I would remove GetExtra.

[2018-10-01 09:33] mberrueta commented on #94
https://coderwall.com/p/uh8kiw/pass-arrays-objects-via-querystring-the-rack-rails-way
is why the `param[]`

[2018-10-02 11:15] mberrueta commented on #103
@jasmingacic sorry to come back to this issue, but maybe we can close definitely.

the body has a templating format, to allow if in the future for example a project name changes, to have in the `interpolated` property the new one .

in the example that you mention, i'm not sure why that wasn't replaced before. Maybe was already fixed
but testing
`curl -X GET  https://api.packet.net/events/570aef0d

[2018-10-02 11:44] jasmingacic opened #109 "[Question] - Instance Batches"
I'm writing `instance_batch` Terraform resource and I'm wondering which parameters can be passed in POST:
[code]

To my understanding "object" in this case is a device does that mean that we can pass all parameters that we are passing when creating a device `devices POST`?

This is what we have mapped in the SDK for batches:
[code]
and this is what we have for Devices:
[code]

[2018-10-02 12:28] patrickdevivo commented on #109
If you take a look at the `facilities` branch, which has some changes to how batches are handled (https://github.com/packethost/packngo/blob/facilities/batches.go) see the test: https://github.com/packethost/packngo/blob/facilities/batches_test.go#L14

Hopefully that helps a bit?

I believe `"object"` is the same spec for creating a device, with `quantity` and some other fields tagged on

[2018-10-02 12:50] jasmingacic commented on #109
@patrickdevivo so what we can POST to devices we can POST to batches plus that quantity field. Thank you.

[2018-10-02 13:44] patrickdevivo commented on #109
Yep, and `facility_diversity_level`. I'm going to close this out

Some more info here: https://www.packet.net/developers/api/#batches

[2018-10-02 13:44] #109 closed

[2018-10-02 14:04] patrickdevivo opened #111 "Using ListOptions for Get"
This seems like odd behavior: https://github.com/packethost/packngo/blob/00ab40373bfef9edff913b259d6e7a137052c0b0/hardware_reservations.go#L9 we're using `ListOptions` as an input to `.Get` which I thought was reserved for `.List` (given the name and fields). `.GetExtra` seems like where to implement `includes`/`excludes` for `.Get` (which maybe we can improve)

[2018-10-03 06:58] t0mk commented on #111
I agree. What about standardizing List and Get methods to
- `<resource>List(<resource>Id, listOpt *ListOptions)`
- `<resource>Get(<resource>Id, getOpt *GetOptions)`

and
[code]

[2018-10-03 10:49] jasmingacic commented on #111
Why not just Options and we use the same object for Get and List.
@patrickdevivo It would be useful to investigate if POST will accept query parameters, so we don't have to Get the object after we get response from POST.

[2018-10-03 13:48] patrickdevivo commented on #111
@jasmingacic I think it makes more sense to have `*ListOptions` separate from `*GetOptions`, even if there is some overlap on the `includes`/`excludes`, my feeling is just that things like pagination or similar are very specific to listing items vs getting a single entity. I like @t0mk's suggestion above which embeds the `GetOptions` in the `ListOptions`, to take care of any overlapping params the

[2018-10-21 14:49] jacobsmith928 commented on #111
@patrickdevivo since @jasmingacic is no longer available to work on issues can you collaborate with @t0mk to resolve?

[2018-11-21 12:52] #111 closed

[2018-11-22 14:09] t0mk opened #115 "Virtual network resource location"
In order to implement Layer2 handling in Terraform, we need to have virtual-network resource accessable under a URL in from the API. Right now, I can list virtual networks in my project, which will show sth like

[code]

But when I try to GET the href of the first virtual newtwork, e.g. `/virtual-networks/c867bf3b-f4c9-4430-8398-853433ec6ca6`, I get 404.

This is a blocker for Terraform support of

[2018-11-22 17:14] patrickdevivo commented on #115
@mberrueta @lucasmpb do you guys know if there's a hidden endpoint or work around for this? Or if it requires Packet API modification?

[2018-12-03 09:45] t0mk opened #117 "API bug, device->network_ports->data->bonded type mismatch"
This is a cause (or one of the causes) of https://github.com/cncf/cnfs/issues/152.

`device` -> `network_ports` -> `data` -> `bonded` is sometimes reported as bool and sometimes as string from the API. Should be a bool all over.

Follows snippet from `network_ports` listing from Type 1E device in nrt1.

[code]

[2018-12-04 22:33] patrickdevivo commented on #117
@t0mk this should be resolved on the API side now

[2018-12-06 12:30] t0mk opened #119 "[L2 workflow for x1.small.x86]: HTTP 500 when assigning port eth1 to VLAN in nrt1"
During testing of #117, I noticed that the L2 workflow for x1.small.x86 aka baremetal_1e as descirbed here:
https://support.packet.com/kb/articles/layer-2-on-x1-small

doesn't work in `nrt1`, it fails with HTTP 500 when I try to assign VLAN to the port. I attach the HTTP traffic log: [dev1eL2.txt](https://github.com/packethost/packngo/files/2653023/dev1eL2.txt)

I tried in all the other facilities

[2018-12-17 12:17] t0mk commented on #115
@patrickdevivo I just checked the API and this is fixed.

[2018-12-17 12:17] #115 closed

[2018-12-18 12:20] deitch opened #120 "Unable to create a device - not reading facility"
When I try to create a device, I pass the facility in via the options, but it still shows a facility of `""`:

[code]

I am setting facilities of `["ewr1","ams1"]`, yet it seems to be ignoring them. Here is my API call:

[code]

where `createRequest` is (trimmed down):

[code]

Am I missing something simple?

[2018-12-18 13:30] t0mk commented on #120
@deitch thanks for the report, I am taking a look.

[2018-12-18 13:31] deitch commented on #120
Thanks. I can run it in `dlv` to get breakpoints any step of the way, if needed.

[2018-12-18 13:31] t0mk commented on #120
it's alright, I got the same error with your input. I am just trying to investigate what's triggering it.

[2018-12-18 13:56] t0mk commented on #120
@deitch it seems that the API first filters the facilites by whether the plan is available in the partiuclar facility; and only then it returns the error. In your case you want x1.small.x86 (aka baremetal_1e) in  EWR1 or AMS1, and according to the capacity API endpoint, `x1.small.x86` is not available in those facilities.

You can get the capacity info from packngo, for example this program will p

[2018-12-18 13:58] deitch commented on #120
Aha. So I got tripped up by the error message, then?

Glad to know what it is, though. Yeah, we probably should open an issue to make the error message more meaningful, like, `fmt.Sprintf("plan type %s unavailable in requested facilities: %v", plan, facility)` or the like.

Thanks!

[2018-12-18 14:07] t0mk opened #121 "API wrongly reports `Facility can't be blank` when in fact a device plan is unavailable"
When creating device over the API, and passing more than one facility (for failover), if a desired plan is not available in either of the facilities, the API responses with HTTP 422 `Facility can't be blank`.

It should rather be `Plan xyz is not available in either of given facilities`.

example request and response:

[code]

[code]

This is a cause of #120

[2019-01-08 15:15] t0mk opened #122 "clarify BGP Config attributes"
I have a question about BGP resource in Packet API. I am writing docs for attributes of BGP config in TF provider, and I don't know what exactly some of them mean, and how useful are they for user. For an existing BGP config (one per project), there are:

packet-cli call-api /projects/d47b1bc3-47bd-468d-a673-e1c2c1015c5a/bgp-config
{'asn': 65000,
 'created_at': '2019-01-08T14:12:30Z',
 'deployment

[2019-01-08 16:07] t0mk opened #123 "API bug (?): BGP session not listed in BGP config"
BGP session is not listed in project BGP config. I have session with a device in a project and the `sessions` attribute of the project is empty list. The BGP session has `status: down`.

Project BGP config:
[code]

Device nin the project
[code]

BGP session:
[code]

[2019-01-08 23:06] pereztr5 commented on #122
Hey @t0mk,

`route_object`: Specifies AS-MACRO to use when building client route filters (as opposed to AS number and read only)
`ranges`: The IP block ranges associated to your ASN(Populated in Global BGP only and read only)
`max_prefix`: The maximum number of route filters allowed per server(read only)

[2019-02-02 01:52] hach-que opened #124 "SpotMarketRequest missing "plan" parameter"
https://github.com/packethost/packngo/blob/ac48ed405c2d6480787a1e13712d3c4b058f3784/spotmarketrequest.go#L27-L34

The API can return SpotMarketRequests with a "plan" parameter, but it's not available in the Go client. e.g. with an API response like this:

[code]

This field is essential for comparing the current spot requests with the requested ones (in an external system).

[2019-02-02 19:37] jacobsmith928 commented on #123
@pereztr5 or @patrickdevivo any updates on this?

[2019-02-02 19:37] jacobsmith928 commented on #121
@patrickdevivo who should we assign this to?

[2019-02-02 19:38] jacobsmith928 commented on #120
@patrickdevivo is this something that can be improved easily?

[2019-02-04 11:20] t0mk commented on #124
@hach-que thanks for reporting, I will take a look!

[2019-02-04 12:40] t0mk commented on #124
@hach-que, I added Plan attr to SpotMarketRequest. I also changed the List method, so that it takes ListOptions. If you need to List or Get SpotMarketRequests with plan, please use the {List,Get}Options like

[code]

[2019-02-04 15:14] patrickdevivo commented on #121
@amenowanna for visibility. Seems like the API reporting an error incorrectly

[2019-02-05 14:22] t0mk opened #126 "when a device is reinstalling, the OS is reported as "centos" regardless on the actualOS"
I have a baremetal_0 device run as ubuntu_16_04 in ewr1 and I issued a "reinstall" action to it. When the device is in state: "reinstalling", the operating_system of the device API resource is reported as:
[code]

When the device gets to `provisioning` state, the OS is reported properly as ubuntu_16_04.

[2019-02-05 19:54] hach-que commented on #124
Thanks, that fixed the issue for me

[2019-02-05 19:54] #124 closed

[2019-02-20 15:16] jmarhee commented on #126
It looks like this isn't specific to packngo: I was, for example, able to reproduce, and saw corresponding behavior in other clients, and then looked into the corresponding API-side actions:

This disto field during that stage, it seems, is being populated from the API for device creation requests (as you observed it does once it returns to provisioning state--the corresponding device create reque

[2019-02-20 15:16] #126 closed

[2019-02-22 14:36] t0mk commented on #121
This also happens when users pass invalid values in the facilities argument. API seems to go all through the list and when not a signle item makes sense, it reports "Facility can't be blank", which is misleading.

[2019-02-25 01:51] pereztr5 commented on #119
Hey @t0mk, I can confirm that this has be resolved. There was a missing configuration on our side and so layer 2 was off for this server type in NRT1.

[2019-02-25 01:51] #119 closed

[2019-02-28 16:10] t0mk opened #132 "missing API endpoint for ports"
Devices API resources have `network_ports` attribtue, populated with ports dicts. In each dict there is a `href` for Port API resource e.g. `/ports/63b7f385-515c-41bc-9d60-668dd3c20aa0`, but HTTP GET to such Port URL returns 404.

The port resource is properly returned for example after the bond, disbond or convert-to-layer2 API call. It would be good to have it also available from GETs.

It would

[2019-03-01 14:21] t0mk opened #133 "network_type of device is reported differently over the API, depending on whether ?exclude=project_lite is present in URL"
This one took me quite a long time to figure.

I am now working on the terraform support of the L2 and I noticed that the `network_type` attribute on the bond0 interface of a device API resource after L2/L3 convert is reported either as `layer3` or as `layer2-bonded` At The Same Time.

I noticed this is not happening in the Portal, and I tried to identify the difference in the HTTP requests I do f

[2019-03-01 15:05] t0mk commented on #133
this makes the device network_type really nondeterministic and it blocks L2 support in Terraform https://github.com/terraform-providers/terraform-provider-packet/pull/86

[2019-03-01 16:30] batmany13 commented on #133
Thanks @t0mk for bringing this to our attention.  I am going put this in our queue to start looking at it soon!

[2019-03-01 20:45] dkenzox commented on #133
@t0mk can you verify if this keeps happening? I suspect it may be due to cache

[2019-03-02 18:00] jacobsmith928 commented on #133
@dkenzox are you suggesting that there is an ongoing cache impact, or is this more of a "one off"?

[2019-03-04 14:07] t0mk commented on #133
@dkenzox Yeah it's still happening. Check out device 2a08939f-d23c-48e0-8864-f36f74a19e65.

[code]

[2019-03-04 15:05] dkenzox commented on #133
@jacobsmith928 Yeah, I think this is somehow related to our cache of the responses.
@t0mk Both of those curls return `layer3` to me.

[2019-03-04 15:09] t0mk commented on #133
@dkenzox I still get `layer2-bonded` from the second one. More http from curl:

[code]

[2019-03-04 15:47] dkenzox commented on #133
@t0mk Yeah, sorry, I just was able to reproduce this, and indeed it is a cache issue. Can you try now
the same? Basically when you switch from layer3 to layer2-bonded some of the attributes are not refreshing the cache, and then when you add the `exclude` param it is using a different version of the cache.

[2019-03-04 15:56] t0mk commented on #133
@dkenzox Thanks for looking at this!

I've just tried and it still shows `layer2-bonded` on this URL:
`https://api.packet.net/devices/2a08939f-d23c-48e0-8864-f36f74a19e65?exclude=project_lite`

Maybe the cache is still tainted for that URL?

Should I now expect that I will get proper network_type from other URLs?

[2019-03-05 20:26] dkenzox commented on #133
@t0mk A fix was deployed today, can you try switching from layer3 to layer2-bonded and the other way around? you should see this reflected in both URLs now. In case it doesn't work, could you try switch from layer3 to layer2-individual and see if then the response change for both ways.

[2019-03-06 14:46] t0mk commented on #133
@dkenzox Thanks, it works now :)

[2019-03-06 14:46] #133 closed

[2019-03-06 15:29] t0mk opened #134 "sometimes, in sjc1, wrong network type is reported after bond POST when device is in layer2-individual"
I am still testing the L2 networking and network modes. I wrote code to test all the 12 possible network_type transitions.

When I create a ubuntu_16_04 m1.xlarge.x86 device in sjc1 and convert it to layer2-individual. It has this JSON in the bond port:
[code]

If I then issue bonding POST for the bond port (id ab735c7) i.e. a `POST` to `/ports/63b7f385-515c-41bc-9d60-668dd3c20aa0/bond`, the retur

[2019-03-06 15:37] t0mk commented on #134
It seems that the device is indeed converted to L3, so it's OK. Just it's a strange behavior.

@dkenzox just FYI. This is not a blocker.

[2019-03-13 17:11] t0mk opened #136 "Packet Connect API issues"
I will put here what I observe about Packet Connect in the API.

This is API documentation https://www.packet.com/developers/api/#packet-connect

* I think API Get for a Connect resource shouldn't need a project_id param. This doesn't work:
[code]
..  gets me error `"param is missing or the value is empty: project_id"`.

Adding the GET param makes it work.

* [suggestion] API request for list of e

[2019-03-21 13:10] t0mk opened #139 "HW reservation status discrepancy in the API"
I have another caching-caused API discrepancy issue:

When I delete a device from hw reservation, it takes some time before I can provision a new one in the hw reservation. I observed it's ~4 minutes for t1.small.x86 in sjc1. I wanted to make the Terraform provider aware of this, so I checked the attributes in the HW reservation API resource. There is a boolean attr called `provisionable`, which s

[2019-03-21 18:00] dkenzox commented on #139
@t0mk This 4 minutes is right after you destroyed the instance?

[2019-03-22 11:59] t0mk commented on #139
@dkenzox yeah it's 4 minutes after I destroy the device. After that it's reported as provisinable from `/projects/<project_uuid>/hardware-reservation` and as NOT provisionable from `/hardware-reservations/<hw_res_uuid>`

[2019-03-22 14:49] pereztr5 commented on #139
@t0mk so the wait time is because the server is deprovisioning, aka being deleted and wiped in our system.

When a user reserves a hardware they will be using the same server and so there is a deprovisioning phase it has to go thru if they delete it. Ideally a user would reinstall the server vs delete then provision again as that requires 2 calls vs 1.

[2019-03-22 15:11] t0mk commented on #139
@pereztr5 thanks for your message. Yes I understand the deprovisioning time, I am pointing out that the API reports the hw res as not provisionable (from /hardware-reservations/<hw_res_uuid>)  *after* then deprovisioning time, when it's in fact ready to provision a new device.

The one-time actions, like power_on, power_off, reboot, reinstall, and rescue are not possible to do from Terraform at th

[2019-03-22 17:03] pereztr5 commented on #139
Oh I see. Okay thanks for catching that @t0mk. We'll update here if when we resolve this.

[2019-04-01 12:52] t0mk opened #140 "Type mismatch at networks_ports[...]['data']['bonded'] in JSON API"
Reported by @travis and @denverwilliams in https://github.com/terraform-providers/terraform-provider-packet/issues/133, it seems that with a **m2.large.x86** device  with OS **ubuntu_18_04** in **ewr1**, the JSON value in `networks_ports[...]['data']['bonded']` is sometimes `true` (type bool) and sometimes `"true"` (type string). The golang code blows up on this obviously.

It seems that `port['da

[2019-04-04 12:46] amenowanna commented on #140
@t0mk I will be adding this to Jira and run it through our prioritization. Thank you!

[2019-04-05 15:33] t0mk opened #141 "Device API resources reported with wrong network_type [caching?]"
Maybe network_type caching again?

I create a device in ewr1. It provisions and gets to `active` state. Then, sometimes, it's network_state is reported as `layer2-bonded` over the API and `layer3` in the GUI. for example device d60113d4-41e1-478f-8807-dcc1a9d328ba

[code]

.. over the API it's `layer2_bonded` and in the GUI it's `layer3`

[2019-04-05 15:35] t0mk commented on #141
@dkenzox @batmany13 Maybe you can help with this one? We already had issue with network_type being reported wrong in #134, maybe this is caused by similar culprit?

[2019-04-05 15:37] t0mk commented on #141
this will cause some issues for Terraform users

[2019-04-08 10:52] t0mk commented on #141
whoops, I removed the device which I linked as use case, but I have a similar problem here:
 curl --silent -X GET -H "X-Auth-Token: $PACKET_AUTH_TOKEN" "https://api.packet.net/devices/d60113d4-41e1-478f-8807-dcc1a9d328ba/" | jq
reported as "layer2-bonded" over the curl, but in the API it's as "layer3"

[2019-04-08 10:57] t0mk commented on #141
.. and when I add `?exclude=project_lite` to the URL, the proper network_type is reported.

[2019-04-08 13:38] amenowanna commented on #141
@t0mk We will be adding this to our priority items. Thank you!

[2019-04-09 19:27] t0mk commented on #141
This just hit a Terrraform user:
https://github.com/terraform-providers/terraform-provider-packet/issues/138

[2019-04-10 07:01] Shakahs opened #143 "Spot Market Request calls API with incorrect facility parameter"
Type SpotMarketRequestCreateRequest serializes the facilities field to JSON as "facility_ids":

https://github.com/packethost/packngo/blob/17aa566ace747f13d13debb41e86d401403dc663/spotmarketrequest.go#L21

However the [Packet REST API expects a field called "facilities"](https://www.packet.com/developers/api/#spotmarketrequest).

`{
	...,
	"facilities": [
		"string"
	]
} `

I am invoking packngo v

[2019-04-10 08:11] t0mk commented on #143
@Shakahs thanks for spotting this. I fixed it in packngo and I created PR in the provider
https://github.com/terraform-providers/terraform-provider-packet/pull/139

[2019-04-10 11:44] #143 closed

[2019-04-17 12:44] jacobsmith928 commented on #136
@patrickdevivo just wanted to see if there is some feedback here?

[2019-04-17 14:32] patrickdevivo commented on #136
Sure, we addressed some of this via email with @jordan0day, the odd behavior has to do with how we implement the packet-connect functionality on the backend, which is a little different from the rest of our endpoints. AFAIK, that isn't blocking anything significant at the moment, though is something we should address to make our API consistent with itself.

The last issue about the missing `tags`

[2019-04-17 14:52] t0mk commented on #136
Yes, we resolved this over email. The tags and facility are details. Unless you want to talk about this more, we can close this issue.

[2019-04-24 21:47] nathangoulding commented on #141
Hitting me too!

[2019-04-25 16:37] savithrihv commented on #141
Same here, run into this issue intermittently.

[2019-04-26 21:17] amenowanna commented on #141
@t0mk We have deployed an update to address this issue. Can you please validate that things are working for you now. Thank you!

[2019-04-30 09:31] t0mk commented on #141
@amenowanna I will take a look today.

[2019-04-30 09:59] t0mk commented on #141
I just ran a m1.xlarge.x86 through all the network_state transitions, and it seems OK. I am closing this.

[2019-05-06 11:25] t0mk opened #144 "Device stuck in queued when I request private IPv6 in ip_addresses field in the creating request"
This is connected to provisioning device wihtout public IPv4.

When I create device over the API, and put `[{"address_family":6,"public":false}]` (obviously a nonsense) to device creating request, device is stuck in queued state.

`{
[...]
"hostname":"wSFNWecv","plan":"baremetal_0","facility":["ewr1"],
"operating_system":"ubuntu_16_04",
"ip_addresses":[{"address_family":4,"public":false},{"address

[2019-05-06 13:12] amenowanna commented on #144
@t0mk thank you for reporting this. We are looking into it.

[2019-05-06 22:07] mberrueta commented on #144
@t0mk sorry I thought that I was answered before, I reviewed and It seems that was a deployment issue.
I tested a similar configuration and it works fine

Let me know if this still happens

[2019-05-14 13:09] jprukner opened #146 "Potential bug in volume attachment code"
Hi!
I got problem with volume attachment using this library. When I use script available at https://github.com/packethost/csi-packet/blob/master/packet-scripts/create_and_attach.sh, I can get targets using `iscsiadm` just fine:
[code]
When I try this same thing using packngo, please see https://gist.github.com/jprukner/55b1c9321c50fb2e7eb042875ececa03, volume is created and attached but I'm not ab

[2019-05-14 13:48] jprukner commented on #146
Ok, so that is wierd. I reran the go program, got new IPs for a volume, everything works now. So it might be related to provisioning through api but only for some cases. Closing for now, until I get what is going on.

[2019-05-14 14:37] jprukner commented on #146
So i was trying to figure this out why sometimes running https://gist.github.com/jprukner/55b1c9321c50fb2e7eb042875ececa03 works and I can get targets and sometimes I can't get targets. It might have something to do with the way requests are sent to the Packet API and the way the API interprets them. I don't know. What do you think? @t0mk

[2019-05-14 15:26] jacobsmith928 commented on #146
Thanks @jprukner will get some eyes on this to see if we have an API caching issue or related going on.

[2019-05-14 15:27] t0mk commented on #146
hey @jprukner, greetings to my hometown :)

The volume API resource has state, and in [your comment](https://github.com/packethost/packngo/issues/146#issue-443905857), the state is `queued`. Maybe you can wait for the volume to be `active`? Like here:
https://github.com/packethost/packngo/blob/master/volumes_test.go#L9

If the problem persists for `active` volumes, I will take a deeper look.

BTW,

[2019-05-14 18:02] jprukner commented on #146
@t0mk you come from Brno? What a coincidence! :D
Thank you for suggestions. If there hasn't been any issue with Packet API fixed @jacobsmith928 , waiting for the volume to be `active` before attaching it solves this issue. Closing.

[2019-05-14 18:02] #146 closed

[2019-05-27 23:41] spdowling opened #147 "Erroneous 404s"
Hey all, having some trouble with 404s from the api directly and from this package.

The first issue is `/projects`. For some reason calling GET on  `https://api.packet.net/projects/$id` gives me:

[code]

Calling GET on `https://api.packet.net/projects` gives me the correct list of items (so I've been cheating for now and looping more than I want to).

The second, similar issue is related to `/ss

[2019-05-28 07:06] t0mk commented on #147
Hi @spdowling , thanks for reporting. Especially the second case is strange, if you attempt to create resource, get 404 and the resource is still created.

I can't really see what's the culprit. Would you mind witing code that I could run, and that throws the 404s? You can start with `TestAccProjectBasic` in `project_test.go` - in there a project is created and then GET is issued for it.

Note tha

[2019-05-28 07:46] spdowling commented on #147
[code]

🤷‍♂

[2019-05-28 07:54] spdowling commented on #147
[code]

🤷‍♂

[2019-05-28 10:22] t0mk commented on #147
@spdowling thanks!

The first project creation request didn't succeed, it's a really plain project-creating request - it should have. Is the API token read/write or read only?

If it's read/write, please do a Packet Support issue in the portal.

If you don't mind, rotate your token, I got it in my email. I'm sorry, I should have mention that it's necessary to redact the token out of the HTTP traff

[2019-05-28 20:27] spdowling commented on #147
Stupid mistake my side. I was using a project API key, not a user API key. Thank you @t0mk for the information.

[2019-05-28 20:27] #147 closed

[2019-07-04 12:17] mikesimos commented on #139
Hi @pereztr5, any updates on this? Thanks in advance :)

[2019-08-07 12:14] t0mk commented on #139
I tested and this seems resolved.

[2019-08-07 12:14] #139 closed

[2019-09-27 14:02] onlyjob commented on #81
Tagging formal/semantic releases is long overdue...

[2019-09-27 14:27] t0mk commented on #81
OK, I will do 0.2.0

[2019-09-27 14:34] t0mk commented on #81
https://github.com/packethost/packngo/releases/tag/v0.2.0

[2019-09-28 11:49] onlyjob commented on #81
Thanks! :)

[2019-09-28 12:39] #81 closed

[2019-10-16 13:02] jasmingacic opened #151 "Live Tests don't work"
When function `setupWithProject`
https://github.com/packethost/packngo/blob/master/packngo_test.go#L41
Which results in this error:
[code]
When project is being created parameter `OrganizationID` is not being passed which is causing this behaviour.

Also `projects_test.go` are failing for the same reason.

[2019-10-16 17:55] t0mk commented on #151
thanks @jasmingacic I will take alook tomorrow.

[2019-10-16 19:10] jasmingacic commented on #151
We already started working on this and some other issues.
Also I talked to @mmlb about the issue with `OrganizationID` which might be related to the auth token I've been using. Anyhow I will keep you posted.

[2019-10-16 21:04] t0mk commented on #151
OK. I have just run all the tests for projects and orgs and they all pass for me.

Maybe check if your user account has default_organization_id set.

[2019-10-17 07:40] jasmingacic commented on #151
It does have default_organization_id set  but the UUID is of the non existent organization.

Do you know how to update that?

[2019-10-17 08:35] jasmingacic commented on #151
Fixed now it is working fine.

[2019-10-17 16:11] #151 closed

[2019-10-24 08:49] t0mk opened #152 "HTTP Request Retrying"
Packngo should retry on nwtowrk timeouts, for instance when wireless network connections is lost temporarily. It would improive user experience with the TF provider.

Original issue for TF provider
https://github.com/terraform-providers/terraform-provider-packet/issues/149

[2019-10-24 11:16] t0mk opened #153 "panic in packngo and TF provider: format of the device state attr has changed"
There was an API change in the state format in the device? It used to be only string and now I have seen a dict like
[code]
This causes packngo and the TF provider to panic.

[2019-10-24 12:31] jasmingacic commented on #152
As per slack conversation where you suggested we use https://github.com/hashicorp/go-retryablehttp I think it would be the easiest way to handle it.

[2019-10-24 13:02] t0mk commented on #153
I am not able to reproduce the scenario where the API returns dict in device state. I will wait for feedback from Packet eng.

[2019-10-24 18:35] jasmingacic commented on #153
I too tried replicating this with terraform creating 10 instances at once and also tried to replicate it with spot instances and no luck.

[2019-10-25 10:31] t0mk commented on #153
whoops i looked to a different attr, it was the operating system with the dict, not state

[2019-10-25 10:35] t0mk commented on #153
The nil deref in the provider is caused by something else.

[2019-10-25 10:35] #153 closed

[2019-10-29 19:16] nurfet-becirevic opened #155 "SSHKey type missing owner field"
The current `type SSHKey` implementation is missing owner field as returned by the API. This issue is blocking implementation of terraform `packet_project_ssh_key` resource import.

Compare the API sample responses when a project is the ssh key owner and when the owner is a user.

**project as ssh key owner:**
[code]

**user as ssh key owner:**
[code]

Also, `SSHKey` type specifies `User` field bu

[2019-10-29 21:17] t0mk commented on #155
@nurfet-becirevic thansk for reporting. Do you want me to fix it or will you do it yourself?

[2019-10-29 21:53] nurfet-becirevic commented on #155
@t0mk you might be having better insight into how not to break other stuff when fixing this issue. I am not sure should we replace User with Owner or just add Owner and keep user as well. Removing User property will be breaking change but I doubt that User has been used anywhere because it's never been populated from the API response.

[2019-10-29 22:10] t0mk commented on #155
OK! The User attr has been there at some point, I'm sure. I will take a
look tomorrow (Wednessday).

On Tue, Oct 29, 2019 at 11:53 PM Nurfet Becirevic <notifications@github.com>
wrote:

[2019-10-30 12:12] t0mk commented on #152
closed by #154

[2019-10-30 12:13] t0mk commented on #152
closed by #154

[2019-10-30 12:13] #152 closed

[2019-10-30 12:31] t0mk commented on #155
@nurfet-becirevic I fixed it. I will bump the version of Packngo in the provider, and also add the importer and test.

[2019-10-30 12:32] #155 closed

[2019-10-31 12:02] t0mk commented on #140
I just tried and it seems that there is always bool type, not a string. I close this.

[2019-10-31 12:02] #140 closed

[2019-10-31 12:06] t0mk commented on #144
Now, if I add `{"address_family":6,"public":false}`, to the IP addres list when creating device, the device gets stuck in `provisioning`.

[2019-11-21 17:16] rfashwall opened #161 "Error on device creation - passing userdata"
When adding user data to device creation, I am getting the below error:
`422 Userdata unrecognized userdata format`
User data passed is a bash script generated from a tpl (Golang text/templates).

Our script contains `&` where encoding/json docs show the characters that are escaped by default are <, >, and & ([reference](https://golang.org/pkg/encoding/json/#Encoder.Encode))

#### Proposed Solutio

[2019-11-21 17:21] jasmingacic commented on #161
I passed the user data like this and I didn't see any errors.
[code]
The script contains both `<` and `>` as well as `&` and other characters.

[2019-11-21 17:31] rfashwall commented on #161
@jasmingacic , thanks for the input.
You can see below the encoded script how it is printed:
[code]

[2019-11-21 18:07] jasmingacic commented on #161
This is the code that worked for me without mentioned errors:
[code]

Can you give it a try?
The SDK I used is the latest version from the master branch.
But I did get error 422 when I passed userdata like this.
[code]

[2019-11-22 11:56] rfashwall commented on #161
thank you, this solution worked locally, will investigate more in our script.

[2019-11-23 03:09] t0mk commented on #136
connect api is now deprecated, so I think we can close this one

[2019-11-23 03:09] #136 closed

[2019-12-19 15:10] carpejem opened #162 "Unable to create device with next facility list"
Report from Packet customer:

 If I am creating Device with next facility list ["sjc1" "ams1" "dfw2" "iad2" "nrt1" "ewr1" "iah1"] Server returns error: "POST https://api.packet.net/projects/383890d0-f5d1-4de1-881a-4d1ede549d18/devices: 500 Oh snap, something went wrong! We've logged the error and will take a look - please reach out to us if you continue having trouble. " Do not have such issue if

[2019-12-20 10:58] t0mk commented on #162
Hi Jem, thanks for reporting. I will take a look next week.

On Thu, Dec 19, 2019 at 5:10 PM Jem Camba <notifications@github.com> wrote:

[2020-01-02 12:45] t0mk commented on #162
@carpejem I've just tried with packngo and terraform with the provided list of facilities and the device creation goes through.

Is it possible that they use old version of packngo?

If you paste a HTTP log to Github next time, please blank out the X-Auth-Token. Also you might tell the customer to remove the token, it's been here in public for 2 weeks.

[2020-01-03 01:08] jacobsmith928 commented on #144
@amenowanna what's the best way to get this into the queue for review?

[2020-01-03 01:10] jacobsmith928 commented on #144
@amenowanna added to the existing bugs project, hope this helps!

[2020-02-11 08:10] t0mk opened #166 "Improve packngo Godoc"
At the moment, the godoc for Packngo doesn't read very well:
https://godoc.org/github.com/packethost/packngo

This would need improving the comments in the code, and add some summary, like in
https://github.com/gorilla/websocket/blob/master/doc.go

And then some examples
https://blog.golang.org/examples
https://github.com/gorilla/websocket/blob/master/example_test.go

[2020-02-14 00:06] #162 closed

[2020-02-27 14:09] alibazlamit opened #171 "Create a device with the option to pass a pub key string"
I remember having the option to pass in user ssh keys as a string array when creating devices.
This is something that reflects an option that the API provides.
[code]
Having this option will make life easier for lots of scenarios, for instance with the docker-machine this way you'd have to create a user ssh key in packet and then pass its ID instead of just passing the ssh key string in the create

[2020-02-27 14:27] t0mk commented on #171
Hey @alibazlamit, I think that it's no longer possible to pass pubkey to a new device directly, but I'd need to check.

You can pass User SSH Keys or Project SSH Keys to the device creation request, the logic is described here:
https://github.com/packethost/packngo/blob/master/devices.go#L154

If only want one SSH key in the deivce, you can create a Project SSH Key in the Packet API with packngo,

[2020-02-27 15:28] alibazlamit commented on #171
Ok thanks for clarifying
I am closing it.

[2020-02-27 15:28] #171 closed

[2020-02-28 13:53] t0mk commented on #141
This happened again, it generated some support traffic, @enkelprifti98 might know more details.

In very short, getting same device with different GET params from the API will return different network_type.
[code]
VS
[code]

[2020-03-04 15:29] jordan0day commented on #141
We discovered another scenario where this could occur with the cached data for a network bond port not updating when the network mode changed (for example, from layer2-bonded to layer3). We've implemented a fix to ensure the cache data updates for this event.

[2020-04-01 15:27] iaguis opened #173 "Type mismatch at device->network_ports[...].data.bonded in JSON API for n2.xlarge.x86 machines"
I'm seeing an error creating an `n2.xlarge.x86` instance with the terraform Packet provider:

[code]

Querying the API I see that one of the `device->network_ports[...].data.bonded` fields is a string instead of a bool:

[code]

A similar issue on `m2.large.x86` was reported before: https://github.com/packethost/packngo/issues/140

[2020-04-01 19:23] vielmetti commented on #173
Also noted at https://github.com/coreos/afterburn/issues/381 where `afterburn` also has potential limitations right now on quad-NIC systems.

[2020-04-02 12:11] t0mk commented on #173
@vielmetti @iaguis Thanks for reporting. This is API bug, and one that's been reported before as #140 (as you've pointed out).
This can be worked around in packngo, but it would be more clean to fix it in the API.

[2020-04-02 12:57] t0mk opened #174 "API bug: link from reserved-IP-block resource to containing project"
In the IP reserved block API resources (found in the API at /ips/<reserved_block_uuid>) there is no link to the containing project resource. Would it be possible to add one attribute `project` which would be a href to a project resource? It shouldn't be a problem as all of the reserved blocks are allocated only in a project.

Analogically, there is a `project` attribute in the device resource (fou

[2020-04-03 12:20] vielmetti commented on #173
The API bug was traced to data entered incorrectly at system enrollment time, and has been corrected in the database. `packngo` should be reporting correct answers for these systems now.

[2020-04-03 12:20] #173 closed

[2020-04-03 12:26] vielmetti commented on #174
As noted in the Terraform issue:

[2020-04-03 12:33] vielmetti commented on #174
This has been identified by engineering as a regression, and a PR has been filed. I'll update you @t0mk when the code has been deployed, so that you can reconfirm correct operations. Thanks!

[2020-04-03 15:06] vielmetti commented on #174
The PR has been applied, and the API results now should have all correct results as from before. @t0mk if you can validate this, I'll mark this as fixed. Thanks!

[2020-04-03 15:43] vielmetti commented on #174
@mmlb confirms on the Terraform issue that this problem has been resolved; closing. Thanks!

[2020-04-03 15:43] #174 closed

[2020-04-04 14:24] t0mk commented on #174
@vielmetti, thanks I checked the provider acceptance tests of the reserved block resource, they got back to green.

[2020-04-20 12:50] vielmetti opened #175 "Test packngo against newest Go versions"
Currently packngo tests against Go 1.12; it would be useful to also have testing for the latest, which is Go 1.14, and for the version used in the Terraform integration, Go 1.13.

[2020-04-20 15:12] vielmetti opened #176 "Add support for BGP Peering "Config" type"
As noted in https://github.com/packethost/packet-ccm/issues/43 there is a new API endpoint at `https://api.packet.net/devices/<Instance_Id>/bgp/neighbors` .

https://www.packet.com/developers/api/bgp/#bgp-getBgpNeighborData is the documentation (as it stands) - an interface to this endpoint will be necessary for the Kubernetes CCM component.

[2020-04-20 15:15] deitch commented on #176
I need this for CCM to pick it up as well.

[2020-04-20 18:25] t0mk commented on #176
Hey, @vielmetti and @deitch, thanks for reporting. I will try to do this tomorrow.

[2020-04-20 18:28] t0mk commented on #175
I created 2 PRs to see how the Drone CI tests behave in Go 1.13 and Go 1.14.
#177 #178

[2020-04-21 14:13] t0mk commented on #176
@vielmetti @deitch @c0dyhi11 What do I need to do in order to see anything in the `/devices/{id}/bgp/neighbors` API endpoint? I need to know so that I can test this.

I guess I need to:
- enable BGP for project
- create device in the project
- ???

[2020-04-21 14:21] t0mk commented on #175
I merged a PR fix to proper 1.13 support. There's also a git branch go1.14 (and open PR from it), which can be used by projects that only use Go 1.14. It can apparently use the same dependencies, the only difference is version numbers in Makefile, drone.yml and go.mod. Since it's also a PR, it can run the basic Drone tests on demand.

I think the Go version support is either-or, it can be only one

[2020-04-21 14:27] vielmetti commented on #175
I think that staying in sync with Terraform is a good bet, but I'd defer to @deitch to know what version(s) need testing for the Kubernetes integrations that depend on this.

[2020-04-21 16:14] c0dyhi11 commented on #176
@t0mk You'll need to enable BGP on the project, Then enable BGP on the device itself.
[code]
[code]

[2020-04-24 11:02] #176 closed

[2020-04-24 11:04] t0mk commented on #176
Hey @c0dyhi11, @vielmetti, @deitch I added functionality for BGP neighbords listing, and a test.

The function is
[code]

The struct is described here:
https://github.com/packethost/packngo/blob/master/bgp_sessions.go#L40

[2020-04-24 11:07] t0mk commented on #176
Would you like me to implement the BGP neighbors in the Terraform provider too?

[2020-04-24 11:46] deitch commented on #176
Thanks @t0mk !

[2020-07-10 11:46] gianarb opened #183 "IP Unassign removes the IP completly"
Hello

I am working at this PR for Packet CCM https://github.com/packethost/packet-ccm/pull/58 where I have to unassign and reassign the IP to another device.

When using the unassign function I noticed that my IP was disappearing from the console and I was not able to re-assign it.
I enabled the debug log in packngo and I noticed it does a DELETE function:

[code]

I looked at the code and it loo

[2020-07-10 11:47] #183 closed

[2020-07-16 01:00] displague opened #186 "Add 429 Rate limiting"
packngo includes some [forms of rate limiting](https://github.com/packethost/packngo/blob/master/packngo.go#L32-L34) from https://github.com/hashicorp/go-retryablehttp#go-retryablehttp.  Go-retryable has only handled non 501 500 HTTP responses until recently.

go-retryable has added 429 support https://github.com/hashicorp/go-retryablehttp/issues/99.

The Packet API can return 429 responses under

[2020-07-22 19:12] displague commented on #63
@t0mk I took a look at https://api.packet.net/api-docs and searched for `per_page` which reveals the following "paginated" end-points:

* [x] Devices
  * [x] /projects/{id}/devices
* [x] Volumes
  * [x] /projects/{id}/storage
* [ ] Events
  * [ ] /volumes/x/events
  * [x] /projects/x/events
  * [x]  /devices/x/events
  * [ ]  /events (alias for /user/events)
* [x] Hardware Reservations
  * [x] /pr

[2020-07-22 20:48] displague commented on #121
While trying to reproduce this, I encountered somewhat similar, when passing multiple facilities and one is incorrect (nyc5 instead of ny5 in this case):
[code]

I get the same error with multiple made-up facility names (seems like a change since @t0mk's finding https://github.com/packethost/packngo/issues/121#issuecomment-466417150):
[code]

I did not encounter any provisioning problems when usin

[2020-07-23 05:02] displague commented on #141
I would like to call this issue closed based on the work that has gone into fixing the network_type cache bug.

Based on a recent flare-up of this bug, and without being aware of this bug, I started looking for alternative solutions.  In #185 I have captured the portal UI logic which corrects some behaviors of the `GetNetworkType()` function in packngo, based on the reported network_type of the bo

[2020-07-23 06:58] t0mk commented on #134
I checked and this doesn' thappen anymore, closing.

[2020-07-23 06:58] #134 closed

[2020-07-23 07:07] t0mk commented on #63
The bgp session test succeeds (it cointains the list), but I've not tested the pagination there.

[code]

That's not good. Are you sure then that the API spec is accurate for the deployed API version?

dtto

If there's a need to do any of the not-implemented API endpoints, create a separate issue please.

[2020-07-23 13:49] jordan0day commented on #141
@displague There is in fact a transition that occurs during the device creation process. On a _typical_ provision, the device is created with its network interfaces bonded, and we go through some background work of assigning IP addresses to the device (the "Management IPs" you see on the device overview page in the UI). For that period of time between when the device starts spinning up and the "Ma

[2020-07-23 14:06] displague opened #187 "422 Virtual network X already assigned"
I've encountered this ` 422 Virtual network X already assigned` condition while running the packngo tests (`PACKNGO_TEST_ACTUAL_API=1 go test --run=TestAccPort --timeout=2h`) and also while using the [google-anthos](https://github.com/packet-labs/google-anthos) Terraform module.

I'm logging this here for more visibility and so users encountering this condition have a place to gauge the status and

[2020-07-23 14:30] displague commented on #141
Thanks, @jordan0day. With that clarification, I'll hold on closing this until https://github.com/packethost/packngo/pull/185 is merged.

I must say, creating devices with a create-time network_type definition (a combination of ports) would be beneficial in the use-cases that I have seen.

[2020-08-20 00:50] displague opened #189 "Packngo should offer broader client configuration options"
Tools that implement the Packet API using this wrapper invariably evolve the need to create a means to load the Packet API from the environment they are running in.

It is common in other cloud provider Go APIs to find functions like:

`compute.NewService` <https://godoc.org/google.golang.org/api/compute/v1>

Functions like this will follow a predetermined path to auto-configure the client:
* exam

[2020-08-31 11:44] rainleander opened #191 "Packet Uniform Standards Request: Maintained Repo"
Hello!

We believe this repository is Maintained and therefore needs the following files updated:

* [x] Flagged Public
* [x] [The Maintained badge](https://github.com/packethost/standards/blob/master/glossary.md#maintained-badge)
* [x] [The Maintained Statement in the README.md](https://github.com/packethost/standards/blob/master/glossary.md#maintained-statement)
* [x] [Getting Started Tutorial](

[2020-09-16 08:48] rainleander commented on #191
DONE!

[2020-09-16 08:48] #191 closed

[2020-10-07 10:46] t0mk opened #198 "Fix endpoint URLs for api.equnix.com i.e. add prefix "/metal/v1/""
currently (7.10.2020) 10:44 UTC, the functions exported by Packngo fail like:

[code]

@thebsdbox suggested that endpoints URLs might be updated as:

[code]

[2020-10-07 11:06] thebsdbox commented on #198
I've worked out what's wrong ->

https://play.golang.org/p/XocaaDTmK0w (demo)

issue -> https://github.com/packethost/packngo/blob/56e36676520a78d9cf538f17185c1ac64b182bd4/packngo.go#L332

[2020-10-07 11:12] t0mk commented on #198
@thebsdbox yeah, me too. I thought a bit how to fix it and the proper way would be to remove all leading slashes from declared endpoint URLs. But if I do that there's a big chance that I miss some endpoints, and it will show in future for some less popular API methods. So I figured, the simplest and safest (not prettiest) solution is just removing leading slash if there's any, like in #199

[2020-10-07 11:43] thebsdbox commented on #198
Could we not just remove the `/` from the basePath? e.g. `https://api.equinix.com/metal/v1/` -> `https://api.equinix.com/metal/v1`

https://github.com/packethost/packngo/blob/56e36676520a78d9cf538f17185c1ac64b182bd4/packngo.go#L27

[2020-10-07 11:44] #198 closed

[2020-10-07 13:15] displague opened #201 "Change default testing facilities and plans"
New Equinix Metal users do not have access to some of the legacy facilities and plans that were offered by Packet.

Packngo tests should use the common facilities and plans unless the test is testing legacy scenarios.

(ewr1 and baremetal_0 are not available, for example)

A new account will see the following:

[code]

[code]

[2020-10-09 08:39] t0mk opened #203 "Type mismatch when converting network type of n2.xlarge device from Hybrid to Layer2-bonded"
When converting network type of n2.xlarge device from Hybrid to Layer2-bonded, it sometimes happen that the API returns HTTP success, but the network type of the bond interface is not changed.

i.e. a successful API reponse on convert/layer-2 API call returns port resource with network_type=layer3.

I don't think that this is caching issue because it shows the same in Portal and over the API, and

[2020-10-14 03:40] #201 closed

[2020-10-21 15:13] displague opened #206 "Add filtering to the pagination helper"
The current listOptions support pagination fields (page, per_page, etc). When these fields are emitted, all pages are walked and the results are combined as though one request was made.

When fetching all devices, the user may intend to filter the results afterward, with an upper limit of matches in mind.  It may be beneficial to filter from the stream of results and stop the pagination early when

[2020-10-21 19:14] displague opened #207 "Merge Option types"
Should we consider merging SearchOptions, GetOptions, and ListOptions?

Specifying search, page, sort_by, sort_direction, when they are not supported does not trigger any form of response or error from the API. Using invalid include, sort_by, or sort_direction values does not trigger an API response either. If we do see errors, these could be surfaced as a new set of OptionError types.

Is there a

[2020-10-21 19:19] displague opened #208 "Add sort_by and sort_direction to GetOptions, SearchOptions, ListOptions"
As evidenced by the Equinix Metal portal, sort_by and sort_direction are used to sort API responses in various cases.

When specifying invalid fields or when sorting is not applied, the inclusion of these parameters does not result in any error.

It would help users to have the sortable field list included in the List method documentation (ideally deferring to the API docs, when the same content i

[2020-10-22 16:48] t0mk commented on #207
@displague it sounds like a good idea to merge the 3. You also mentioned that this will be a breaking change in the API.

I vote for checking if the used options conf make sense - if you pass page_num to a single-resource-Get request, there might be a problem with the whole intent of that Golang SDK call.

We could keep the struct with just the attriubutes, and have another struct APICallOptions (

[2020-10-23 01:07] displague commented on #207
If we are judging intent, I think that would be best served with unique types for Get/List/Search - break at compile time, not at runtime.

I don't think we need to judge intent.

For example:

[code]

This allows for reuse of the options, like so:
[code]

We don't offer the number of pages returned currently, that would be a nice thing for "opts" to return back. 🤔
We could extend the QueryAppende

[2020-10-23 03:12] displague opened #210 "Improve HTML response error handling"
The following was recorded while testing changes to packet-cli during an API outage.

When responses with a `text/html` Content-type` are presented, packngo should not try to unmarshal JSON.  It should return an error with the HTTP status message.

[code]

The message rendered by Packet CLI (as received from packngo) is:
`Error: Could not list Devices: invalid character '<' looking for beginning o

[2020-10-29 18:49] displague opened #213 "Equinix Metal Go bindings"
This is probably a conversation to start on packngo.

There are a few rename options, `github.com/equinixmetal/equinix-metal-go/` or perhaps `equinixmetal/equinix-metal-sdks/go` (one repo with multiple providers, it might be hard to get Ruby, Python, Java/Maven, Go, NPM, and other tools to agree on the root directory structure, but this would make for a convenient way to maintain the various bindi

[2020-11-02 15:16] #210 closed

[2020-11-17 13:17] t0mk opened #214 "Misleading API error when creating Project SSH Key with Project API Key"
Hi, when I attempt to create a SSH key in a project using Project API key (created for the same project), the API replies with HTTP 404 Not Found, but the project SSH key is created. The HTTP response looks like this:

[code]

This can be reproduced with Terraform template

[code]

.. and running `$ PACKET_AUTH_TOKEN=<same_project_API_key> terraform apply`

related issues
https://github.com/packet

[2020-11-17 14:38] displague commented on #214
Filed as ENGREQ-647 in an internal tracker.

[2020-11-18 19:19] displague opened #215 "Take a serious look at generating this client from Swagger"
The Equinix Metal API is available via Swagger (OpenAPIv2) at https://api.equinix.com/metal/v1/api-docs/.

Given the availability of https://goswagger.io/ and https://github.com/OpenAPITools/openapi-generator-cli we should be able to build a template (`docker run --rm -v $PWD:/local openapitools/openapi-generator-cli:v5.0.0-beta2 meta`) or set up options that will allow for a partial client to be

[2020-11-18 19:27] displague commented on #215
I've used the `openapitools/openapi-generator-cli` generator to produce https://github.com/displague/packet-rs. Each commit and commit description reports the Swagger changes that were needed to fix validation and generate the client.

[2020-11-18 19:55] displague opened #216 "Offer an escape hatch for consuming unsupported endpoints and data types"
If a new API endpoint or data type is created that is not well-defined by this client, this client should offer functions that simplify consumption of those endpoints and data-types.

[code]

Can a pattern like this be used as the base for typed services?

[2020-11-21 12:30] t0mk commented on #215
I tried to generate API client with swagger based on the api-docs ~3 years ago. The problem there IIRC was that the API docs were not consistent with the true state of the API.

(this is not a useful piece of info) I also remember feeling it turned up much harder to do than it sounds (to simply generate api client based on json description).

[2020-11-21 15:28] jasmingacic commented on #215
I believe if the swagger/openapi is well done then I'm convinced that the generated SDK should be good. Of course one cannot expect it to be perfect without human intervention.  Also it is a good thing to keep SDKs standardized.

[2020-11-23 14:18] t0mk opened #217 "Acceptance tests for storage don't run because "422 Storage feature is not currently available in facility ny5""
Our default facility for acceptance tests is "ny5". However

[code]
.. so it's necessary to prefix call of tests using volumes/storage with

[code]
.. we should make the storage tests work out-of-the-box.

[2020-11-24 12:08] t0mk opened #219 "Creating a Spot Market Request for a plan not available in a facility succeeds"
Example: I create a SMR for 2 c3.small.x86 devices in ewr1 over the API (with packngo). c3.small.x86 is not available in ewr1 (I think it's not a matter of capacity, it's just not offered there). The creation of the SMR succeeds, and the SMR API resource has empty "facilities" attribute.

First SMR was created with packngo, for c3.small.x86 in ewr1 (plan not available in facility), second was crea

[2020-11-24 20:00] displague commented on #219
Filed an internal ticket, thanks.

[2020-12-09 14:06] displague opened #223 "Use fixture (go-vcr) tests when available"
Very little is tested in this repository when a PR is created.

With the go-vcr support that is currently present but disabled, we could start testing every function that has a recorded test and skip any test that doesn't have a recording. This will help us reach the goal of having fixtures for every test (and default `PACKNGO_TEST_RECORDER=play`).

I propose, when `PACKNGO_TEST_ACTUAL_API=1` and

[2020-12-12 17:11] #207 closed

[2020-12-13 04:22] displague opened #228 "Implement Connections"
Implement Connections as defined in https://api.equinix.com/metal/v1/api-docs

There may not be an existing pattern for POST creates into a URL with two parameters.

The API docs should be copied into packngo as the default field, method, and type comments.

* [ ] `POST ​/organizations​/{organization_id}​/connections` Request a new connection for the organization
* [ ] `POST ​/projects​/{project_i

[2020-12-13 19:21] displague opened #230 "Deprecate helpers found in ports.go"
While working on #229, I noticed how many functions in ports.go are Device service helpers.  These functions seem like good candidates for deprecation because they do not interact with the Ports API, they fetch devices and return properties of the device.

The code smell here is that these port service functions all include `i.client.Device` client calls and some of them mutate the supplied Device

[2020-12-14 10:46] t0mk commented on #215
Looking at #228 I've just tried to use swagger on api-docs.json. These were the issues:

- host in body should match '^[^{}/ :\\]+(?::\d+)?$'
  (doesn't like forward slashed in   "host": "api.equinix.com/metal/v1")
- items in definitions.BgpNeighborData.properties.peer_ips is required
  (missing items description dict)
- duplicate parameter name "id" for "path" in operation "findConnectionPortEven

[2020-12-14 14:59] t0mk commented on #215
I tried to generate and run a client with go-swagger. This is my test repo, I put some notes to README:
https://github.com/t0mk/gometal

[2020-12-16 20:46] displague opened #231 "Implement hybrid-bonded network type"
The feature initially described at https://feedback.equinixmetal.com/networking-features/p/mixed-mode-layer-23-for-hybrid-cloud is coming to the Equinix Metal API.

This allows for Layer3 addresses and Layer 2 VLANs features to be simultaneously configured on each bonded port.

This feature allows for the default Layer3 bonded network type to immediately attach Layer2 VLANs *without explicitly cha

[2020-12-16 21:07] displague commented on #231
The context provided here is to support the implementation and downstream implementations.

Validation should be left to the server, packngo should not try to verify the if the current state meets and level of criteria.

[2020-12-18 07:34] displague opened #232 "Implement missing plans fields"
The plans type is missing the `legacy` field (for one).

[2020-12-18 18:00] t0mk commented on #231
@displague can you please check out the code in the portal javascript where the network type transitions are happening, and paste it here?
So that we don't have to guess the api calls for the new network type transition.

[2020-12-19 08:02] displague commented on #231
@t0mk That had not crossed my mind. We did benefit from console.equinix.com front-end Javascript in https://github.com/packethost/packngo/pull/185 and it would be great to sync withthat again here.

That code doesn't exist yet.

I don't know if we can continue to think of a device as being in a single-mode.  This is something I'll check into.
(what would the device's single computed network type b

[2020-12-19 09:15] displague commented on #231
I checked with another internal composition of this field.
The new hybrid-bonded computed value has these requirements:
* all ports are bonded
* it has any ip management addresses
* it has virtual_networks.

This is the same standard used to evaluate hybrid mode, with the added criteria that there must be virtual_networks.  We'll need a `HasVirtualNetworks` like https://github.com/packethost/packn

[2020-12-19 09:41] displague commented on #231
Transitioning to Hybrid-Bonded, would not be possible without a VLAN to attach, but it would otherwise be the same as transitioning to Layer3 Bonded.

[2020-12-19 10:07] displague commented on #231
Thinking about how this might work in Terraform, I think if someone asks for "hybrid-bonded", we may have to ignore "layer3-bonded", because it is the same but they don't have any virtual networks attached (which they would have to add as a manage through a separate resource).

Part of the reason that this is more complicated in Terraform is because we are repurposing these computed terms, we are

[2020-12-20 09:08] t0mk commented on #231
@displague from what you've wrote it looks that this is more of a API internal functionality. IIRC, from the API client point of view, the hybrid-bonded network type is only a label for a layer3 network type with VLANs attached. Do we really need to do anything but alias `hybrid-bonded` to `layer3`? Or maybe just use `layer3` and attach VLANs. VLAN assignment can already be done from Packngo, and

[2020-12-21 04:05] displague commented on #231
In this TF case we would have to treat a computed value of hybrid-bonded as matching `type = "layer3"`, but then what happens when a TF user wants to change to layer3 from hybrid-bonded, we wouldn't know that the user wants us to remove the attached vlans.  And if we do remove the vlans, and the TF config has vlans defined, we'll end up in a weird diff jitter (you want layer3, but you have vlan at

[2021-01-25 14:43] alice-sowerby commented on #231
This has been identified in the Jira https://packet.atlassian.net/browse/DEVREL-957

[2021-01-25 16:46] displague commented on #215
A little update on the progress here:
* the client generation process is scripted: https://github.com/t0mk/gometal/blob/main/gen.sh
* the upstream API spec has less of the problems encountered above
* patches are applied (from gometal) for the known problems
* several issues have been opened to further explore the potential use of this client

[2021-01-25 16:47] displague commented on #215
This work has the potential to be a #213 implementation.

[2021-01-26 08:41] t0mk commented on #231
I have looked at the new L2 network UI and I noticed a couple of things that @displague didn't mention in the first comment https://github.com/packethost/packngo/issues/231#issue-769259952

- The network type is now defined per bond, and not per device. This is a good thing, considering how we struggled with defining type for n2.xlarge. But it will need a fundamental change in packngo and the prov

[2021-01-26 15:45] displague commented on #231
AFAIK, the API is not changing other than the new reported mode "hybrid-bonded", which is effectively a Layer3 port (as determined today) with a VLAN attachment.

Maybe we should create new "ConvertPair" helpers and deprecate the "ConvertDevice" helpers (which would stay very close to what they are today, with hybrid-bonded awareness added).

Or perhaps, `ConvertDevice((d *Device, targetType ...st

[2021-01-26 18:01] displague commented on #231
@t0mk supporting documentation for this feature is now available at https://metal.equinix.com/developers/docs/layer2-networking/hybrid-bonded-mode/

[2021-01-26 20:39] #232 closed

[2021-01-27 21:36] displague commented on #214
The API now returns a 200 instead of 404. Provisioning a project SSH key with a project API key now succeeds. The project SSH key can also be safely read and destroyed with a project API key.

[2021-01-27 21:36] #214 closed

[2021-01-29 20:17] #228 closed

[2021-01-30 11:04] t0mk commented on #231
I spent a day last week looking on how to start wtih the hybrid-bonded state. First thing was that I had to create a struct for the network state:

[code]

.. and the functions handling the state should be changed according to that.

[2021-02-01 10:15] thebsdbox commented on #231
Excellent work @t0mk! Are there any ETAs for when work will commence on this?

[2021-02-01 16:20] t0mk commented on #231
Hey @thebsdbox, we still need to agree with out with @displague. We struggle with how to represent the network modes here in packngo and then in the provider. It's a bit complex, so it would first be good to sketch how we will do it.

Since there might be changes in the network type specification for the TF device resource, we also need to agree if there's anything we can do right now in the TF pr

[2021-02-03 14:56] displague opened #237 "remove RetryPolicy"
The RetryPolicy function was added to accomodate use of the retryablehttp dependency that has since been removed from this package.

RetryPolicy was not removed when retryablehttp was removed to that anyone choosing to use retryablehttp's transport could take advantage of the RetryPolicy logic which is influenced by an understanding of how the Equinix Metal API behaves under various error and retr

[2021-02-03 15:29] displague commented on #237
The DefaultRetryPolicy from retryablehttp seems to be more than sufficient. If it is not, why not?

https://github.com/hashicorp/go-retryablehttp/blob/master/client.go#L399-L463

[2021-02-03 15:40] displague commented on #237
On second thought, our `return true, nil` should be catching 5xx responses because `err` would be non-nil.  https://github.com/packethost/packngo/blob/master/packngo.go#L399-L403 should be creating `err` values so the 5xxx check doesn't seem to be needed.

Perhaps a first step in diagnosing this would be to add some 500 fixtures (non-json HTTP + HTML errors) to see if `Do` and `checkResponse` are

[2021-02-05 14:52] displague opened #238 "Support for Metros"
This issue is a planning/placeholder for incoming work related to backend work in progress:

https://feedback.equinixmetal.com/platform/p/introduce-locations-concept-including-support-for-metros

As information becomes available this description will be updated and comments will be added to support the implementation changes.

---

An early preview of endpoints:

[code]

[code]

Changes to Plan: `

[2021-02-08 15:56] t0mk commented on #237
the err is nil when remote API returns HTTP 500 (regardless of content type). The content type check in packngo comes after the RetryPolicy of retryablehttp.Client (in TF provider). I have just verified.

my testing http server:
[code]

I suggest we
- remove packngo.RetryPolicy
- in the TF provider we use local func MetalRetryPolicy

In summary, with the RetryPolicy function in current form, the h

[2021-02-08 20:04] displague opened #241 "Missing fields for VirtualNetwork type"
The following fields returned from a virtual network attachment request are not mapped in the packngo VirtualNetwork resources.

[code]

Some of these fields are not documented, which is apparent from the generated client:

https://github.com/t0mk/gometal/blob/main/types/virtual_network.go

[2021-02-08 22:40] displague commented on #241
The `internet_gateway` field may be a dead field. Hold off on implementing that.

[2021-02-09 17:15] displague commented on #241
`assigned_to` is already present in packngo `VirtualNetwork` as `Project` (rather than `AssignedTo`).

This makes me wonder about how other references are named. The endpoint includes `instances`. Should packngo call these `VirtualNetwork.Devices`?

[2021-02-10 05:09] displague opened #243 "Facilities type doesn't match API responses"
The `Facility` type is unconventional or differs from the API spec in the following ways:
* `URL` field is not `Href` (as the json field is named `href`)
* `Address` type contains `ID` (mapped to `id` json), but only `href` is returned in facility address (and the value is `#...` where `...` is a uuid)
* `Metro` is missing (#238)
* `IPRanges` is reported by the API but missing in packngo (`"ip_ran

[2021-02-10 19:33] #132 closed

[2021-02-18 04:33] #237 closed

[2021-02-18 04:35] #241 closed

[2021-03-06 14:46] chris-rock opened #245 "Cannot retrieve project with project api key"
I try to get the project information for a project api key:

[code]

This always throws an 401 error. If I use ` c.Projects.List` it returns the project. Is that behavior intended?

I try to implement a similar behavior as your terraform provider https://github.com/packethost/terraform-provider-packet/blob/master/packet/datasource_packet_project.go#L116-L122. I wonder if this works with project ap

[2021-03-07 13:50] t0mk commented on #245
Hi @chris-rock, Thanks for the report. I verified and it's true.

When I use project API key and call c.Projects.List(nil), I will get the project record in the result slice, and there will be only the parent project of the API key.

But when I try to do c.Projects.Get(project_id, nil) with auth token from proejct with ID project_id, the Metal API will return 404 Not Found.

This is an API bug. @d

[2021-03-07 14:02] chris-rock commented on #245
@t0mk Thank you for confirming. The same happens with a get calls for an Organization

[2021-03-08 13:45] displague commented on #245
I will raise the issue of the `GET /projects/{id}` not working with Project API keys, especially despite `GET /projects` working.

I can understand a project scoped key not revealing organization level details, what is your use-case, @chris-rock?

[2021-03-08 15:25] chris-rock commented on #245
Oh I was just thinking that we could get the org details of a project since the API returns the organization url as part of the project fetch.

[2021-03-11 17:37] displague commented on #238
Looking for this to be implemented and merged by April 2.

[2021-03-18 19:37] displague commented on #189
I've been thinking about the format of this sort of configuration file, with future considerations in mind.

Suppose we had the following format:

[code]

A single configuration file could serve all Equinix-related client functions. This is helpful because the Equinix API is consumed behind a single base URL: api.equinix.com.  Alternate base URLs could be provided globally.  Perhaps this file shou

[2021-03-18 19:43] displague commented on #189
With token rotation,  a client would:
* check the rotation date of the token
* attempt to update the configuration file
  * if it can not update the configuration file, it will log a warning and refuse to rotate the token
* request a new token
  * if this fails, it will log a warning and refuse to rotate the token. the client can still be used.
* delete the old token
  * if this fails, it will:

[2021-03-18 20:30] displague commented on #189
The role of `scope` was not mentioned thus far. I was thinking that this would be written during token rotation. This flag is a hint to the user about the token scope that serves a real purpose during rotation - this informs the type of token the rotation will attempt to generate.

That may be not be possible. Project tokens are not permitted to generate more project tokens.  Project scoped token

[2021-03-18 20:40] displague commented on #189
Clients like packet-cli may wish to take advantage of this configuration service and extend it with additional well-known files .

Packet CLI uses `~/.packet-cli` and only knows about `token:`.  Packet CLI could take advantage of this new client configuration and settings while supporting the legacy format.

[2021-03-22 19:59] #208 closed

[2021-03-22 19:59] #230 closed

[2021-03-22 20:11] displague commented on #206
Another approach would be to make an interface for `GetOptions`, each resource would have a type that implements (mostly through embedding GetOptions) this interface. Each resource specific type could then provide their own Filter function in that type.

[2021-03-22 20:45] displague commented on #175
We are currently testing against 1.14 and 1.15.

[2021-03-22 20:45] #175 closed

[2021-03-22 21:32] displague commented on #187
Similarly, Terraform can currently report a 422 during an unassign:
[code]

[2021-03-26 19:50] displague opened #250 "Create a release GH workflow"
In order to avoid situations like #249, GH workflows should be used to tag new releases.

The release workflow should take a semver version, update libraryVersion in packngo.go, and tag the release.

Moreover, the RELEASE.md steps should be followed in the GH workflow, and the RELEASE.md should be updated to tell maintainers to dispatch the GH workflow.

[2021-03-29 09:35] t0mk commented on #250
They somehow do this in Linode:

https://github.com/linode/linodego/blob/master/.github/workflows/release-drafter.yml

[2021-03-29 12:56] displague commented on #250
If we use release-drafter, we will need a job in that workflow that runs just before release-drafter to do the version bump.

While we are at it, we could change `const libraryVersion` in `packngo.go`to `var Version` in `version.go`, this will make it easier to replace in automation, make the variable available to users, and make the variable something we can change at build time if needed.

I was

[2021-03-29 21:45] displague commented on #187
I've been going back and forth between wether or not packngo should act as a transparent HTTP client or an intelligent arbiter of intent.

The Terraform client, for example, can interpret that a request to remove a VLAN, resulting in a "422 already removed", matches the desired result. There is therefore no real error.

The packet cli, or other Equinix Metal integrations, may also benefit from thi

[2021-03-29 21:59] displague commented on #187
I'm aware that this kind of logic would be harder to bake into a generated client, in that case I think we would introduce helper packages or functions that add intelligence.

[code]

Likewise, we could introduce a `IgnoreAttached` which would ignore 422s that represent resources that have already been attached (vlans, ips).

We could take this approach in packngo, without any breaking changes and

[2021-03-30 10:59] t0mk commented on #187
@displague I think the ignore{Removed,Assigned} wrappers are better idea than changing the default behavior. Not sure if they should be in a different package than the SDK though, I think I'd keep then here in packngo. As for gometal, maybe the generated client can be extended with some templating.

[2021-04-02 13:50] displague opened #255 "support Project.ListEvents type_in field"
The `GET /projects/{id}/events` endpoint supports a path query parameter called `type_in`.

This field can be seen in use on the Equinix Metal console when filtering events by resource type.

Packngo does not offer a way to provide this value.

Some possibilities:
* ignore the field, defer to resource specific event methods
  `client.Devices.ListEvents()`, `client.Users.ListEvents()`, ...
* add th

[2021-04-02 14:15] displague opened #256 "Not possible to describe includes and excludes on Create"
Include and Exclude fields are provided by `GetOptions` which are commonly accepted in read-only methods like `Get` and `List`.

The Equinix Metal API also supports Include and Exclude parameters for Create and Update methods (POST,PUT).
Having these include fields expanded in create responses could help developers avoid a secondary round-trip API fetch.

How would CreateOpts be introduced? Does t

[2021-04-08 18:41] displague opened #258 "Including does not have an Excluding counterpart"
api_call_options defined Including but not its compliment, Excluding.

[2021-04-09 15:27] #258 closed

[2021-04-12 13:12] displague opened #261 "Add SpotMarketRequests support for Metros"
SpotMarketRequests should be able to take advantage or Metro fields for creation and report these fields on fetches.

Part of #238

[2021-04-12 13:13] displague commented on #238
Reopening this until all components that can benefit from metros have been updated.

[2021-04-12 17:26] #261 closed

[2021-04-18 14:18] e-gineer opened #265 "Href is always empty for Metros List?"
Looking to add metros support to steampipe per https://github.com/turbot/steampipe-plugin-equinix/issues/14

I'm seeing the Href field is always empty? Is that expected?

[code]

[2021-04-18 14:26] e-gineer opened #266 "Does metros list work with paging?"
I seem to be getting the full list of (24) metros back with every request, even when the PerPage and Page attributes are set.

Here is the logs I see with each call, showing a PerPage of 1 and a Page going up ... but the result is always 24 items and the first item is always Phoenix:
[code]

Here is the Steampipe code snippet I'm using:
[code]

I can workaround the problem by setting maxItems to 1

[2021-04-18 14:27] e-gineer commented on #266
FYI, this is related to https://github.com/turbot/steampipe-plugin-equinix/issues/14

[2021-04-19 10:48] t0mk commented on #265
hi @e-gineer thanks for sumbitting the issue. You're right, there's nothing in the Href. I cam see a raw api response

[code]

.. we will need to remove the attribute from the Metro struct. It should be safe to ignore it.

[2021-04-19 10:49] t0mk commented on #266
@e-gineer no, there's no paging in metro list, at least at the moment.

[2021-04-19 10:51] #265 closed

[2021-04-20 08:58] t0mk opened #267 "Interconnection create request needs project ID, but created Interconnection doesn't contain project ID"
Users need to pass project ID to create a connection (https://metal.equinix.com/developers/api/connections/#connections-createOrganizationInterconnection)

[code]

.. but HTTP Get on the resource doesn't contain the project ID. This is a fundamental problem for Terraform - there should be parity for attributes in creating requests and created resoruces. Otherwise it's impossible to import the reso

[2021-04-20 09:38] t0mk commented on #267
@displague can you please bring this to the attention of the API devs?

[2021-04-20 13:24] displague commented on #267
@t0mk I'll pass it on but first help me understand the problem.

If Terraform requires project_id and organization_id for connections, then we can always HTTP `POST` it. We will have the organization_id for the URL and the project_id for the POST data (`/organizations/{id}/connections` or `/projects/{id}/connections` (organization id inferred?)).

Project would need to be a required field (which i

[2021-04-20 13:42] displague commented on #267
I see https://github.com/equinix/terraform-provider-metal/pull/76/files#diff-fb65e05d73d1a84ee2934a9c6033312470724448442603e716a9f6fada29c4eaR155-R158

We require project id to create a connection, but we are not guaranteed a project id when requesting a connection by ID, or if we are it is very indirect.

@jordan0day Can we assume that all virtual-circuits in a connection are on the same project?

[2021-04-20 13:54] displague opened #268 "List documentation should say if the endpoint is auto-paginated"
It should be clear from the function documentation if a list endpoint supports pagination or not.  Because paginated end-points are auto-paginated by default, we can add "This listing will be auto-paginated. Use ListOptions{Page:x} to change that behavior." For end-points that do not support Pagination we can add "This listing does not support pagination."

It may have been more idea for a Paginat

[2021-04-20 14:07] displague commented on #265
For now, I recommend ignoring it.

This field is present because of the nature of the API responses with `includes`.  Depending on `includes=metro` (pluralizations?), It is possible for a Metro to be returned as either `"metro": {"href":"..."}` or `"metro":{"id":"...","code":"...", etc}`

The Swagger2 spec does not allow for this format to be reported in the documentation accurately (the descripti

[2021-04-20 14:11] displague opened #269 "add `Hydrate` method and `Hydratable` interface for `Href` field handling"
I'm considering adding a `Hydrate` method to all of our types (or ServiceOps) which could be used as a `Hydratable` interface and would allow for objects with only an `Href` to have their Href parsed and have `Get` called on the object. Each type may also need an `Href` getter to implement this, I'm not sure yet.

This would likely result in a refactor of `Get` to rely on Hydration.

`obj.Hydrate(

[2021-04-20 16:18] jordan0day commented on #267
For a "shared" connection, yes. For a "dedicated" connection, no.

For a little more background, when a user creates a shared connection, we go ahead and create a single "Virtual Circuit" per port (so 1 or 2 VC's on the connection, depending on if the connection is redundant). Because of the relationship between "Virtual Circuits" and their associated Virtual Networks (VLANs), we need to know at t

[2021-04-20 18:57] e-gineer commented on #265
The plans endpoint has a field `available_in_metros` which currently returns a list of Metro objects, which have the href field populated (but nothing else).

So, I'm surprised the href field is not valid here, since it's specifically used elsewhere?

[2021-04-20 18:58] e-gineer commented on #265
I'd also like to point out that the facilities list endpoint and references from the plans endpoint has identical behavior to the metros behavior described here, so probably worth being consistent with that.

[2021-04-20 20:36] displague commented on #265
@e-gineer the various endpoints have different default `includes=`, and this is poorly documented.

It may help in steampipe to use `&packngo.ListOptions{}.Including("metro")` (ListOptions/GetOptions) (this may be plural if the field is plural, or in this case `Including("available_in_metros")`)

[2021-04-20 20:37] displague commented on #265
The pattern is `Including(the_name_of_the_field_that_returns_hrefs_instead_of_values)`

[2021-04-20 20:58] displague commented on #267
Packngo should probably remain agnostic and leave domain logic up to documentation and user invocation.

In Terraform, it sounds like `project_id` should not be required at the schema level, perhaps optional and computed (sometimes unset).

We can leave the validation up to the API and provide supporting documentation in the Terraform documentation.
To catch this common concern early, we can valid

[2021-04-20 23:29] e-gineer commented on #265
Thanks @displague ... I'm trying to see how to get the Metro ID out of the `available_in_metros` field in the `plans` endpoint.

I have this code:
[code]

which gives me:
[code]

I've tried a few options, but all had the same result:
[code]

What am I doing wrong? Thanks!

[2021-04-21 11:09] t0mk opened #270 "Implement update of Interconnections"
PUT to `/connections/{connection_id}`

allowed params:

name | string
-- | --
redundancy | stringUpdating from 'redundant' to 'primary' will remove a secondary port, while updating from 'primary' to 'redundant' will add one.
description | string
contact_email | string
tags | [string]

[2021-04-21 11:36] t0mk commented on #267
Ah Ok, so `project_id` is mandatory if `type == "shared"`, and should be empty when `type == "dedicated"`.

I verified and the API behaves accordingly. I will make the provider code to check this, it's easy.

OK.

[2021-04-21 11:38] t0mk commented on #267
@displague @jordan0day is there a similar constraint for connection redundancy?

[2021-04-21 14:37] jordan0day commented on #267
I don't think that I totally understand the question.

Basically, redundancy controls whether the "connection" contains one or two actual physical links (aka "ports"). For a shared connection, that will mean one or two Virtual Circuits (since we limit a shared connection to one Virtual Circuit per port). For dedicated connections though, the users can create *many* Virtual Circuits per port. There

[2021-04-21 15:08] t0mk opened #271 "Unexpected "null" in attr "global_ip" in API json for management IPv6 address block"
I went through the JSON from API response for IP block resources (from /projects/uuid/ips), and stumbled upon flag `global_ip`. For floating blocks, it correctly shows `true`/`false` depending on whether the block is global or not (public). For the management blocks, it contains `null`. IMO it should be just `false`.

[code]

[2021-04-21 15:09] t0mk commented on #271
@displague please check this and if it seems reasonable, bring it to the API devs.

[2021-04-21 15:13] t0mk commented on #267
@jordan0day thanks for explaining. I'm closing this issue, it was my lack of understanding of how the connections work.

[2021-04-21 15:13] #267 closed

[2021-04-21 17:58] displague commented on #271
This is because none of the IPv6 addresses are currently eligible to be "global", in the current EM featureset.
The `*boolean` status has been brought to the folks that work on the API as a design discussion.

[2021-04-21 18:00] displague commented on #271
@t0mk has this caused a nil handling fault somewhere (is there an immediate need for us to change the field to *boolean to reflect the API reality)?

[2021-04-22 09:13] t0mk commented on #271
@displague I reported this because having an attr with possible values [true, false, null] seems inconsistent, and I thought it would be ok to set it to `false` (instead of `null`) for the management blocks (ipv6 and private ipv4). I thought it was unintentional, and it will probably cause problems in serialization in integrations. `global_ip` is not listed in the `IPReservation` definition in htt

[2021-04-23 05:41] displague commented on #266
Closing this as Q/A with an answer.

[2021-04-23 05:41] #266 closed

[2021-04-26 15:43] displague commented on #271
The API now returns `false` instead of `null` in this condition.

[code]

Thanks for the update, @tchan2!

[2021-04-26 15:43] displague commented on #271
reopening so that we can update packngo with a bool.

[2021-05-04 17:09] #271 closed

[2021-05-05 22:43] displague commented on #238
I do believe we capture every resource affected by metros.  Closing!

[2021-05-05 22:43] #238 closed

[2021-05-07 16:26] displague opened #277 "SpotMarketRequest does not include Parameters"
SpotMarketRequest embeds SpotMarketRequestCreateRequest which includes Parameters.

This makes it seem like smr.Parameters should be available, as in:

[code]

However, this is not the case. Parameters is not returned by the API and should not be included in the SpotMarketRequest type.

Perhaps the API could be changed upstream to support this?

[2021-05-07 19:46] displague commented on #270
There will also be a `mode` (string) field added for GET/POST/PUT.  I'll advise on the enum values once known.

[2021-05-07 20:00] displague opened #278 "Introduce context method parameters"
The packngo library does not currently allow for context deadlines to be used in requests.

https://blog.golang.org/context-and-structs

More at https://blog.golang.org/context

What would it look like to add Context to packngo at this time?
* [ ] What level of version change will this introduce?
* [ ] Will the existing API be maintained, and new methods added?
* [ ] Do we create packages for each

[2021-06-07 15:21] displague commented on #231
@t0mk Perhaps we should take this one-line https://github.com/packethost/packngo/pull/239/files#diff-e9a0f6f206a7d5bf4e4fb40ffcdf7089c3223878283915d8d03f2175727515dcR5 (adding the hybrid-bonded state) and make an enum of it for `type PortNetworkType string`.

Here's a snippet of the packngo JSON serialization for reference:

[code]

[2021-06-15 21:06] displague opened #285 "Implement Connection mode"
Referenced in https://github.com/packethost/packngo/issues/270#issuecomment-834730024

[2021-06-18 20:30] #270 closed

[2021-06-18 20:31] #285 closed

[2021-06-22 20:06] displague commented on #250
Since #281, we don't need to update the version stored in version.go.

This means that tags can be applied at any time, using the GH UI. Release automation would be beneficial for drafting release notes.  For this, we should consider workflows that parse well-formatted commit messages and perhaps try to enforce that commit format to some extent.

[2021-06-24 15:11] displague opened #288 "Implement Subnet Routers"
The API will be delivering changes related to https://feedback.equinixmetal.com/networking-features/p/internet-gateway

This issue is a placeholder to reflect the packngo needed work to represent these API changes.

[2021-06-28 18:21] displague opened #289 "Support arbitrary query and filter parameters"
Packngo may not provide all of the available API filters and query parameters available at any given time.

For example, the plans listing supports `deployment_type=on_demand`.

It is not possible to add this argument through GetOptions today.

Consider adding an arbitrary `map[string]string` called `Filters` to GetOptions, or some other approach to fulfill the need at request time.

[2021-06-28 18:25] displague commented on #289
If we use `map[FilterName]string`, we can provide some well-known `FilterName` values (like `DeploymentType FilterName = "deployment_type"`. Users could add their own as needed.

Or we can just stick with `map[string]string`.

[2021-07-01 17:12] displague opened #291 "Implement VLAN Attachments improvements"
The is a placeholder for VLAN attachment improvements.

[2021-07-07 14:31] displague opened #292 "remove packngo version from README.md, state minimum go version"
The install approach documented in README.md is dated and does not consider `go mod` improvements.

A simple `go get github.com/packethost/packngo` will work, without a version.  Go should track the latest release.

README.md should also note that Go version 1.14 is required at a minimum (due to `net/http` `Header.Values` being introduced in that version, used in sunset detection (`resp.Headers.Va

[2021-07-08 14:21] #288 closed

[2021-07-08 19:30] displague commented on #289
`/projects?organization_id=...` is another example of where this is useful.

Knowing which fields are filterable takes some guesswork currently, as most filterable fields are not documented in the API spec.

[2021-07-08 19:41] displague commented on #289
`map[string]interface{}` may be better as this would handle `&GetOptions{Filters:packngo.FilterOptions{"organization-id": orgID, "int": i, "boolField": b})`

[2021-07-11 09:55] t0mk opened #297 "API keys not GETtable by direct URL paths, both DELETEable over user API key path"
There don't seem to be a href for API keys in EM API:
[code]

.. i.e. it's not possible to GET api keys over URLs like `/user/api-keys/baff8...` or `/projects/54bd4e../api-keys/c3ab3..`. Strangely it's possible to DELETE API key over such URL. Both project and user keys are Deleted over `/user/api-keys/db4bcdef..`.

Why to make it possible to delete over the urls but not fetch them. Maybe this cou

[2021-07-13 11:50] t0mk commented on #291
@displague I started to look at this. The idea would be to introducte new VlanAssignment and VlanAssignmentBatch API resources, and use the batches as a new VLAN assignment mechanism, instead of the current API calls?

These are the new 5 endpoints summarized:

[code]

I have some questions:
- How long a batch resource exists? Is there any reason for it to exist after it's processed, i.e. after al

[2021-07-14 11:04] displague opened #299 "Limited collaborator role pricing/billing field type changes"
A limited collaborator role org role has been introduced which removes pricing and billing data from API responses.

Where fields are now optional (with this project membership type), the response is expected to be omitted.

These changes could result in errors downstream of packngo.  Packngo should update any fields that are optional under this circumstance to pointers.

_Related to https://githu

[2021-08-05 09:46] #291 closed

[2021-08-05 10:03] #289 closed

[2021-08-12 22:23] tobert commented on #278
Oh hey, I was looking at this today.

One idea I had was we could add new methods that accept context and lace it through the code, and provide the current API via wrappers that simply add context.Background().

e.g.

[code]

In my case, this would allow for OpenTelemetry trace & span propagation through the library for everyone that uses context.

[2021-08-15 13:33] t0mk commented on #278
@displague @tobert Hi, I'm adding my 2 cents.

I'm pro introducing context methods. I am against waiting for swagger generated client. Pairing `DoThingCtx and DoThing` (like @tobert wrote) sounds good. I wouldn't change the structure of the service, just adding the Ctx methods seems good enough to me.

- ad Swagger generated client
  * we have experience that the API json doesn't always reflect cu

[2021-08-16 22:33] tobert commented on #278
@t0mk this client isn't really my area of focus but if you want to take a swing I'd be happy to help review & champion. A bunch of internal Metal uses of packngo would benefit from context passing as well.

[2021-10-05 15:14] displague opened #307 "Require non-empty IDs as parameters to service actions"
It is possible to send ID="" to various service methods, such as Devices.Delete.

The client will send `DELETE /metal/v1/devices/`. This should not be permitted as such an API call could have unexpected consequences (deleting all devices, for example - although that is not the case).

When an ID is required but an empty ID is provided, the client call should fail with a consistent error message.

[2021-10-06 10:10] t0mk commented on #307
@displague we could check if the ID is a valid UUID. And wrap the check in a function so that it can be easily changed.

[2021-10-06 13:55] displague commented on #278
Playing devil's advocate for a moment, we are still in `0.` version land. We could just introduce the leading context parameter.

If we do, I'm sure third-party integrators will step into this on their next `go mod tidy`.

[2021-11-04 20:19] #307 closed

[2021-11-27 18:19] displague opened #313 "Remove ErrorResponse type"
Tthe ErrorResponse type copies the http.Response unnecessarily since all packngo API methods return both an error and the http.Response.

A more fitting error type would be one that simplifies the single and multiple errors returned from the Equinix Metal API. This could be done with a packngo.Error type (effectively ErrorResponse, without embedding *http.Response)

One missed advantage of the Err

[2021-11-27 18:20] displague commented on #313
Related conversations in the Terraform provider:
* https://github.com/equinix/terraform-provider-metal/pull/197#issuecomment-979939139
* https://github.com/equinix/terraform-provider-metal/pull/192#issuecomment-926745851

[2021-11-27 18:27] displague commented on #313
In Terraform, an `ErrorResponse` type was created mimicking the packngo.ErrorResponse type. This has created difficulty in handling errors (as expressed in the comments listed above).

[2021-12-17 03:57] #292 closed

[2021-12-21 15:12] tylerauerbeck opened #316 "Add ability to update BGPSession status"
After initially creating a BGP session, its status may/will likely show as down. Until you hit the discover endpoint (`/devices/<uuid>/bgp/discover`) or wait for the auto-update interval to pass ( 6 hours or so), the status doesn't appear to get updated automatically to reflect that actual state of the session.

It would be nice have something like a .GetStatus(), .Discover() function that allowed

[2022-01-05 14:55] t0mk opened #317 "project_id missing from Connection API resource"
While wokring on Fabric Service Token support in the provider, I realized it's not possible to find out project ID from existing Dedicated Connection API resource. Connection resource is created by POST to `/projects/UUID/connection`. Terraform resource `metal_connection` then needs to know the project ID in order to create the connection. TF provider also needs to be able to get all the parameter

[2022-01-05 14:56] t0mk commented on #317
This is an API bug @displague please add the label.

[2022-01-10 16:14] displague commented on #317
I believe `POST /organizations/{id}/connection` does not require a `project_id` for Dedicated connections.

If packngo offered a second function or logic to change endpoints based on project_id being specified then Terraform would not need a project_id in these cases.

When importing a connection, if the port is dedicated, a project_id should not be required.  We can make this optional in TF.

How

[2022-02-02 19:04] displague commented on #316
This is a feature of the API utilized by console.equinix.com.

`POST /projects/{ID}/bgp/discover` (no body)

The response looks like:
[code]

---

This endpoint is not included in the documented spec.

[2022-02-02 19:14] displague commented on #316
Seeing the state of the BGP service is something that must be aggregated from the session status today:

`client.BGPSessions.Get($device_id)`. One would check all sessions for Status "up" or "up,up". This requires iterating all device ids in the BGP configuration.

As pointed out in the describption, a `List()` function can be implemented. Today the `Get()` method requires an ID, but by not provid

[2022-02-08 17:16] ocobleseqx opened #318 "Ability to update some IP reservation parameters"
tags/details/customdata of IP Blocks can be updated through the portal console.equinix.com and the API https://developer.equinix.com/catalog/metalv1#operation/updateIPAddress. Modifying these parameters in tools that consume this go client, such as the terraform-provider-metal, requires the destruction and creation of a new IP request, and it would be helpful to have this ability to not recreate t

[2022-02-14 16:36] ocobleseqx opened #320 "Add `omitempty` to the optional parameters"
None of the `OrganizationCreateRequest` fields have the `omitempty` tag, although all but Name are optional.

https://github.com/packethost/packngo/blob/7e2c4628236b3948da2c97d5d8355e74b13e9d0e/organizations.go#L52-L59

This makes the http client to include empty values for those non specified fields:

[code]

and consequently returns an error since the logo field is not valid:

[code]

[2022-02-15 13:47] #318 closed

[2022-02-22 16:02] displague opened #322 "Base URL alternative should be configurable via the environment"
Alternate base URLs, such as the legacy https://api.packet.net, may be useful during testing. `PACKNGO_API_BASE_URL` could be used to configure such a change.

No other mechanism currently exists.
If packngo supported this feature, downstream tools may need to be adapted to inherit this value, alternatively, these tools could offer their own way to provide the base URL.

[2022-03-15 18:08] ocobleseqx opened #323 "test"
test comment

[2022-03-21 12:37] displague commented on #93
Packngo should be a thin wrapper to the API and should avoid harboring domain logic.  When common features are needed, outside of direct API working, they should be provided as documentation and examples. If helper functions like this are ever formalized, they should be defined in a separate package (potentially within a sub-package packngo).  One-off helpers would be too numerous to support every

[2022-03-21 12:37] #93 closed

[2022-03-21 14:31] displague opened #324 "Implement project/{id}/usages"
Usage information is not readily available outside of the Equinix Metal console. The API exposes this information via the project scoped "usages" endpoint: https://metal.equinix.com/developers/api/usages/#retrieve-all-usages-for-project

Related https://github.com/equinix/metal-cli/issues/181

[2022-04-01 18:43] displague opened #325 "Add VRF support"
This is a stub issue to track in-progress VRF support. Additional details will be added as released.

https://feedback.equinixmetal.com/networking-features/p/private-cloud-layer-2-networking-for-vcf

[2022-04-21 11:06] ocobleseqx opened #327 "VirtualCircuit.Speed is defined as string but API returns an int"
Retrieving a VirtualCircuit fails consistently:
_"│ Error: json: cannot unmarshal number into Go struct field VirtualCircuit.speed of type string"_

https://github.com/packethost/packngo/blob/51354b3977e7cdc35d6d4e854fc4a7aa54fc8a3d/virtualcircuits.go#L70

`Speed` field must be of type `uint64`

![image](https://user-images.githubusercontent.com/68897552/164441797-7fbbb59c-1f01-4a09-8b86-8d9ce0f52

[2022-04-21 12:26] displague commented on #327
I believe the confusion here may stem from the input format permitting string interpretations with units.

It's good to see that the output format is in a fixed format. We should identify the units in the field description.

[2022-04-28 12:02] displague opened #328 "Reduce code duplication with generics"
Go 1.18 introduced generics. Generics allow for common patterns to be reused across types.
Today in packngo, we see a lot of duplicate between ServiceOp types, effectively copy/pasting the Get, Delete, Update, List, and Create functions.
For some (if not all of these operations) we could create generic handlers that simplify how we onboard new endpoints.

The following demonstrates this pattern: h

[2022-05-02 13:28] #325 closed

[2022-05-02 15:33] #327 closed

[2022-05-02 17:23] #316 closed

[2022-05-09 08:58] ocobleseqx opened #332 "add required field `address` for OrganizationCreateRequest"
Creating a new organization form terraform provider is returning an error requesting an address. `OrganizationCreateRequest` doesn't include field 'address' making impossible to create an organization from terraform and other consumers

`OrganizationUpdateRequest` should also include address.

Related issue: https://github.com/equinix/terraform-provider-equinix/issues/134

[2022-05-09 09:03] ocobleseqx commented on #332
I realized it is already implemented and I was looking at the wrong file. https://github.com/packethost/packngo/blob/c1c08c7c55f84e5b12b19a5d7dcf3f51191beb02/organizations.go#L35

[2022-05-09 17:56] #332 closed

[2022-05-09 19:33] displague opened #334 "IP address lists can now be paginated"
Handle pagination in /ips GET responses.

[2022-05-24 11:11] rawkode opened #335 "Disable DEBUG Logging by Default"
Currently, it would appear I get DEBUG logging no matter what environment variables are set.

This is when using the Pulumi provider, via. the Terraform provider.

I have no `METAL_`, `PACKNGO_`, `PACKET_`, or `TF_` prefixed variables set in my environment.

Please advise, @displague 😄

[2022-05-24 14:34] displague commented on #335
Are the debug messages Terraform flavored or are they only from `PACKNGO_DEBUG` (Equinix Metal API requests and responses)?

[2022-05-24 14:36] displague commented on #335
Terraform has its own request/response debugging capabilities. This may not be packngo related at all.  The formatting can reveal which tool is producing the output.

[2022-05-24 14:57] displague commented on #335
Is this during tests? I can't find the issue, but I believe there is a Terraform issue around excessive logging (I think this was during tests).

It might help to try using the `off` setting for TF_LOG / TF_PROVIDER_LOG.
https://github.com/hashicorp/terraform/blob/8f923cea080c531046384c9328881409b37da53c/internal/logging/logging.go#L19-L34

[2022-05-26 17:16] cprivitere opened #336 "Add reservation_pricing field."
Add reservation_pricing field to packngo per https://github.com/equinix/terraform-provider-metal/pull/194

[2022-05-26 18:49] rawkode commented on #335
@displague What format is this and I'll try and dig into it

[2022-05-26 18:49] rawkode commented on #335
I guess Terraform, based on your link to the packngo logging?

[2022-06-01 13:14] displague commented on #120
Closing this as `Facility` is now optional so long as `Metro` is provided.

The original error was likely addressed in the past prior to the introduction of metro fields, either on the API validation or in packngo.

[2022-06-01 13:14] #120 closed

[2022-06-07 17:59] displague opened #339 "FabricServiceToken.ExpiresAt must be nullable"
The ExpiresAt field in FabricServiceToken may be null in API responses.

https://github.com/packethost/packngo/blob/46c24be88530be6cbfc873ec4b3c04882eb430d0/fabric_service_tokens.go#L16

The Timestamp field should be `*Timestamp`.

[2022-06-08 14:06] #339 closed

[2022-07-04 17:29] gidoBOSSftw5731 opened #341 "With client.DevicePorts deprecated, how does one set a network type to hybrid-bonded?"
With the old (apparently deprecated) syntax, creating a bonded network can be done like so:
`metalClient.DevicePorts.DeviceToNetworkType(dev.ID, "hybrid-bonded")`

Now, with the new metalClient.Ports object, you can ConvertToLayerTwo() and ConvertToLayerThree() but not ConvertToHybrid() (unless the docs are just very unclear?)

[2022-07-05 17:52] gidoBOSSftw5731 commented on #341
I should clarify, `metalClient` is the variable name used for a `*Client` object.

[2022-08-30 12:58] ocobleseqx opened #343 "missing operating_system option in DeviceReinstallFields"
Related to https://github.com/equinix/terraform-provider-equinix/pull/244

The options currently available in the sdk are: `type` (reinstall), `preserve_data`, and `deprovision_fast`

To change the operating system and not just reinstall the previous one I found `operating_system` must be specified (UI browser console):

[code]

[2022-09-02 14:50] #343 closed

[2022-09-02 16:43] #336 closed

[2022-09-28 18:16] displague opened #347 "Implement organizations/{id}/memberships"